flows.json
[{"id":"5a6ce039.2d0368","type":"tab","label":"LADO-B - WRITE","disabled":false,"info":""},{"id":"9a708ce2.92b0d","type":"tab","label":"LADO-B-READ","disabled":false,"info":""},{"id":"b66f5fc0.b8625","type":"tab","label":"LADO-A - WRITE","disabled":false,"info":""},{"id":"8b8bde60.01e51","type":"tab","label":"LADO-A-READ","disabled":false,"info":""},{"id":"a4c1e7f2.0d14d8","type":"tab","label":"Historiador","disabled":false,"info":""},{"id":"d249d58d.cd0ce8","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"f11b2049.a40478","type":"tab","label":"ALEXA CORP","disabled":true,"info":"# Tela Teste\nTela teste"},{"id":"1bda13d0.6e7844","type":"tab","label":"MQTT TQ","disabled":true,"info":""},{"id":"7bc4cb21.d957d4","type":"tab","label":"CAIXA VERTICAL","disabled":true,"info":""},{"id":"b6f06a77.64706","type":"tab","label":"CISTERNA","disabled":true,"info":""},{"id":"fd20137a.462398","type":"tab","label":"Email-SMS Alerts","disabled":true,"info":""},{"id":"278c3ffc.fa40d8","type":"tab","label":"Modbus HTTP","disabled":true,"info":""},{"id":"1e773891.4f37e7","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"20ae8fcc.33458","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"1bc43387.c38d44","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097775","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097775","edited":true},"page-titlebar-backgroundColor":{"value":"#097775","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0ebebb","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097775","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Teste","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c1fc8896.1262e8","type":"ui_tab","name":"Torre B (Lado Cravinhos)","icon":"dashboard","order":5,"disabled":false,"hidden":false,"info":"Home"},{"id":"7ebd8643.e5978","type":"ui_tab","d":true,"name":"SANEANTES DEFENSIVOS","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"2073504a.b8cd98","type":"ui_group","name":"TÉRREO","tab":"c1fc8896.1262e8","order":3,"disp":true,"width":6,"collapse":false},{"id":"8dbb8bc3.6754a8","type":"ui_group","name":"GARAGEM","tab":"c1fc8896.1262e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6e251d28.457ebc","type":"ui_group","name":"Default","tab":"a1d32c53.5d19b","order":1,"disp":true,"width":"6","collapse":false},{"id":"860a186a.c9ee4","type":"ui_group","name":"REATOR HPR 3000 Litros","tab":"7ebd8643.e5978","order":1,"disp":true,"width":8,"collapse":false},{"id":"16c05bd5.23990c","type":"ui_group","name":"AGITADOR","tab":"7ebd8643.e5978","order":2,"disp":true,"width":"6","collapse":false},{"id":"dda78b6f.da6898","type":"ui_group","name":"BALANÇA","tab":"7ebd8643.e5978","order":4,"disp":true,"width":6,"collapse":false},{"id":"23335714.ea75d","type":"ui_group","name":"BALANÇA 2","tab":"7ebd8643.e5978","order":3,"disp":true,"width":"6","collapse":false},{"id":"4891c22f.0675dc","type":"ui_group","name":"HOMOGEINIZAÇÃO","tab":"7ebd8643.e5978","order":5,"disp":true,"width":"6","collapse":false},{"id":"2ec8841b.42e9bc","type":"ui_group","name":"TOTALIZADOR","tab":"7ebd8643.e5978","order":6,"disp":true,"width":"6","collapse":false},{"id":"982d917c.f3a618","type":"ui_spacer","name":"spacer","group":"860a186a.c9ee4","order":3,"width":8,"height":1},{"id":"16d37cae.788943","type":"ui_group","name":"ILUMINACAO","tab":"7ebd8643.e5978","order":7,"disp":true,"width":"6","collapse":false},{"id":"b0d514eb.927408","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://10.161.1.251:8086","rejectUnauthorized":true},{"id":"d3d6988.54f70e8","type":"ui_spacer","name":"spacer","group":"860a186a.c9ee4","order":3,"width":8,"height":1},{"id":"91bdb6be.0e7eb8","type":"mqtt-broker","name":"","broker":"10.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"edeb87cb.663e98","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"test-client","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ff728644.f6bd28","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"76cf06ea.d1732","type":"ui_tab","name":"CAIXA VERTICAL","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8bdabb84.0887e","type":"ui_group","name":"1º NÍVEL","tab":"76cf06ea.d1732","order":1,"disp":true,"width":"6","collapse":false},{"id":"d40bd1d3.9a9228","type":"ui_group","name":"2º NÍVEL","tab":"76cf06ea.d1732","order":2,"disp":true,"width":"6","collapse":false},{"id":"fb6686e6.e12838","type":"ui_group","name":"3º NÍVEL","tab":"76cf06ea.d1732","order":3,"disp":true,"width":"6","collapse":false},{"id":"ee1d8935.6618c","type":"ui_group","name":"4º NÍVEL","tab":"76cf06ea.d1732","order":4,"disp":true,"width":"6","collapse":false},{"id":"36c18a3c.7fac8e","type":"ui_tab","name":"TEMPERATURA","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"91b41caf.86d3f8","type":"ui_group","name":"TEMPERATURA","tab":"36c18a3c.7fac8e","order":1,"disp":true,"width":"6","collapse":false},{"id":"12e757c0.d00608","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"29e230fc.872cd8","type":"ui_spacer","name":"spacer","group":"12e757c0.d00608","order":1,"width":1,"height":1},{"id":"1b8a4916.671627","type":"ui_group","name":"UMIDADE","tab":"36c18a3c.7fac8e","order":2,"disp":true,"width":"6","collapse":false},{"id":"136f358c.6fc67a","type":"ui_tab","name":"CISTERNA","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"418b3066.7fa99","type":"ui_group","name":"Group 1","tab":"136f358c.6fc67a","order":1,"disp":true,"width":6},{"id":"6e5e90ec.49bf18","type":"ui_group","name":"Group 2","tab":"136f358c.6fc67a","order":2,"disp":true,"width":6},{"id":"9d152790.9d9de8","type":"ui_group","name":"Uptime","tab":"","order":3,"disp":true,"width":"6"},{"id":"3674ad0e.e78c8a","type":"OpcUa-Endpoint","endpoint":"opc.tcp://10.161.0.7:49320","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"293535d1.2189aa","type":"ui_group","name":"1º ANDAR","tab":"c1fc8896.1262e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"850489d8.a25698","type":"ui_group","name":"2º ANDAR","tab":"c1fc8896.1262e8","order":4,"disp":true,"width":"6","collapse":false},{"id":"4ea66dcc.6e56b4","type":"eth-ip endpoint","z":"a4c1e7f2.0d14d8","address":"10.161.1.233","slot":"0","cycletime":"1000","name":"ETE","vartable":{"":{"AIC_00.Out_ENG_VAL":{"type":"REAL"}}}},{"id":"8908fb7c.7b6418","type":"influxdb","z":"a4c1e7f2.0d14d8","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"InfluxUTI","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d3390420.783878","type":"ui_group","name":"Group1","tab":"","order":2,"disp":true,"width":"5"},{"id":"87ccc900.d71f28","type":"eth-ip endpoint","address":"10.161.1.12","slot":"0","cycletime":"1000","name":"QTA","vartable":{"":{"Program:Energia.QTA_Total_VA":{"type":"REAL"},"QTA.MainsLoadPerc":{"type":"REAL"},"QTA.POTENCIATOTAL":{"type":"REAL"},"QTA.L3_N_UE":{"type":"REAL"},"QTA.L3_L1_UE":{"type":"REAL"},"QTA.L3_A":{"type":"REAL"},"QTA.L2_N_UE":{"type":"REAL"},"QTA.L2_L3_UE":{"type":"REAL"},"QTA.L2_A":{"type":"REAL"},"QTA.L1_N_UE":{"type":"REAL"},"QTA.L1_L2_UE":{"type":"REAL"},"QTA.L1_A":{"type":"REAL"},"QTA.FREQUENCIA":{"type":"REAL"}}}},{"id":"9d3f28ab.97ad88","type":"ui_tab","name":"Torre A (Lado Ribeirão)","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"febf1d90.5adad","type":"ui_group","name":"TÉRREO","tab":"9d3f28ab.97ad88","order":1,"disp":true,"width":"6","collapse":false},{"id":"20a10008.5708e","type":"ui_group","name":"1º ANDAR","tab":"9d3f28ab.97ad88","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d23fd2c.c56544","type":"ui_group","name":"2º ANDAR","tab":"9d3f28ab.97ad88","order":3,"disp":true,"width":"6","collapse":false},{"id":"4ee4d351.d2bd3c","type":"ui_spacer","name":"spacer","group":"2073504a.b8cd98","order":5,"width":1,"height":1},{"id":"80cb5c0d.fb7ee","type":"ui_spacer","name":"spacer","group":"2073504a.b8cd98","order":6,"width":1,"height":1},{"id":"5e976d22.127324","type":"ui_spacer","name":"spacer","group":"293535d1.2189aa","order":6,"width":1,"height":1},{"id":"816956be.e8a7f8","type":"ui_spacer","name":"spacer","group":"293535d1.2189aa","order":7,"width":1,"height":1},{"id":"69c3636d.10aaec","type":"ui_spacer","name":"spacer","group":"293535d1.2189aa","order":9,"width":1,"height":1},{"id":"7b3eb527.aeaabc","type":"ui_spacer","name":"spacer","group":"293535d1.2189aa","order":10,"width":1,"height":1},{"id":"707d00c5.9142d","type":"ui_spacer","name":"spacer","group":"850489d8.a25698","order":6,"width":1,"height":1},{"id":"7f0eece9.1baa74","type":"ui_spacer","name":"spacer","group":"850489d8.a25698","order":7,"width":1,"height":1},{"id":"dd0017a5.0af838","type":"ui_spacer","name":"spacer","group":"850489d8.a25698","order":9,"width":1,"height":1},{"id":"2764170b.ae16c8","type":"ui_spacer","name":"spacer","group":"850489d8.a25698","order":10,"width":1,"height":1},{"id":"bca904c2.cc3b18","type":"telegram bot","botname":"Ourofino_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"f7bf1df3.f377d","type":"MSSQL-CN","tdsVersion":"7_4","name":"SQL1","server":"10.113.0.179","port":"1433","encyption":false,"trustServerCertificate":false,"database":"LARAVEL","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"df8c0b88.91b0a8","type":"MSSQL-CN","name":"Dev","server":"localhost","encyption":false,"database":"Dev"},{"id":"712b53e5.990dfc","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f73f12de.6fe2a","type":"telegram bot","botname":"zabbixBot","usernames":"","chatids":"-1716769484","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"45e2094a.f8f1b8","type":"modbus-client","name":"POWER","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.161.1.244","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":255,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"8da29d32.2d1a","type":"modbus-client","name":"PredioV","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.161.0.142","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"228160dd.0bd268","type":"modbus-client","z":"278c3ffc.fa40d8","name":"Modbus Flex Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"18502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"d22267ba.ad2048","type":"eth-ip endpoint","address":"10.161.1.12","slot":"0","cycletime":"10000","name":"HVAC","vartable":{"":{"FFC13_VV_CV":{"type":"REAL"},"FFC14_VV_CV":{"type":"REAL"},"FFC15_VV_CV":{"type":"REAL"},"FFC16_VV_CV":{"type":"REAL"},"FFC17_VV_CV":{"type":"REAL"},"FFC18_VV_CV":{"type":"REAL"},"FFC19_VV_CV":{"type":"REAL"},"FFC20_VV_CV":{"type":"REAL"},"FFC21_VV_CV":{"type":"REAL"},"FFC22_VV_CV":{"type":"REAL"},"FFC23_VV_CV":{"type":"REAL"},"FFC24_VV_CV":{"type":"REAL"},"FFC29_VV_CV":{"type":"REAL"},"FFC30_VV_CV":{"type":"REAL"},"FFC31_VV_CV":{"type":"REAL"},"TIC_DFC24_PIDE.CV":{"type":"REAL"},"TIC_DFC25_PIDE.CV":{"type":"REAL"},"TIC_DFC26_PIDE.CV":{"type":"REAL"},"TIC_DFC27_PIDE.CV":{"type":"REAL"},"TIC_DFC28_PIDE.CV":{"type":"REAL"},"TIC_DFC32_PIDE.CV":{"type":"REAL"},"TIC_DFC33_PIDE.CV":{"type":"REAL"},"TIC_FFC02_PIDE.CV":{"type":"REAL"},"TIC_FFC03_PIDE.CV":{"type":"REAL"},"TIC_FFC10_PIDE.CV":{"type":"REAL"},"TIC_FFC11_PIDE.CV":{"type":"REAL"},"TIC_FFC12_PIDE.CV":{"type":"REAL"},"HIC_DFC24_PIDE.CV":{"type":"REAL"},"HIC_DFC26_PIDE.CV":{"type":"REAL"},"HIC_DFC27_PIDE.CV":{"type":"REAL"},"HIC_DFC33_PIDE.CV":{"type":"REAL"},"Program:Energia.TarifaEnergia":{"type":"REAL"}}}},{"id":"b1baa680.6ed248","type":"modbus-client","name":"ADAM","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":true,"tcpHost":"10.161.0.19","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"28e3cb4c.573134","type":"eth-ip endpoint","address":"10.161.1.231","slot":"0","cycletime":"10000","name":"CMX_CALDEIRA","vartable":{"":{"LT_103_01.O_Sinal_EU":{"type":"REAL"},"FT_103_01.O_Sinal_EU":{"type":"REAL"},"LT_201_01.O_Sinal_EU":{"type":"REAL"},"FT_201_01.O_Sinal_EU":{"type":"REAL"},"TOT_201_01.O_Sinal_EU":{"type":"REAL"},"FT_201_02.O_Sinal_EU":{"type":"REAL"},"BB_201_01.HorimetroHora":{"type":"DINT"},"LT_G101_01_I_Sinal":{"type":"REAL"},"TT_G101_01_I_Sinal":{"type":"REAL"}}}},{"id":"b806835d.94328","type":"eth-ip endpoint","z":"a4c1e7f2.0d14d8","d":true,"address":"10.161.1.174","slot":"0","cycletime":"1000","name":"CAG","vartable":{"":{"TT_202014.O_Sinal_EU":{"type":"REAL"}}}},{"id":"729136f.5c5e2c8","type":"modbus-client","name":"GE08","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.161.0.51","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"a1d32c53.5d19b","type":"ui_tab","name":"OMAS","icon":"dashboard","disabled":false,"hidden":false},{"id":"b5a8a0d0.40d63","type":"ui_group","name":"Teste","tab":"36c18a3c.7fac8e","order":3,"disp":true,"width":"6","collapse":false},{"id":"96aabb35.bc3c68","type":"modbus-client","name":"SEL","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.161.1.170","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"ebeab3422d31a778","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.161.1.170","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"","unit_id":0,"commandDelay":50,"clientTimeout":500,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"cb216faf.d9136","type":"mqtt-broker","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f8c22e70.230628","type":"http in","z":"f11b2049.a40478","name":"teste1","url":"/test1","method":"get","upload":false,"swaggerDoc":"","x":610,"y":60,"wires":[["560cd6ad.692ed8"]]},{"id":"52b6476a.38ae68","type":"http response","z":"f11b2049.a40478","name":"","statusCode":"","headers":{},"x":950,"y":60,"wires":[]},{"id":"560cd6ad.692ed8","type":"template","z":"f11b2049.a40478","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Node-RED Automação</title>\n    </head>\n    <body>\n        <h1>Hello World</h1>\n        <p>Nosso texto aqui</p>\n    </body>\n</html>","output":"str","x":780,"y":60,"wires":[["52b6476a.38ae68"]]},{"id":"a3a4e9d9.fea988","type":"comment","z":"f11b2049.a40478","name":"","info":"","x":130,"y":60,"wires":[]},{"id":"52299a88.b3b1cc","type":"debug","z":"f11b2049.a40478","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":620,"y":120,"wires":[]},{"id":"b1e618ab.4fbed","type":"amazon-echo-device","z":"f11b2049.a40478","name":"CORPORATIVO","topic":"","x":320,"y":180,"wires":[["7a555f89.dcf208","2ae70dd1.15a292","7fad7864.22bc8"]],"inputLabels":["Ligar"],"outputLabels":["Desligar"]},{"id":"282c5a49.fd9d2e","type":"amazon-echo-device","z":"f11b2049.a40478","name":"Primeiro andar cravinhos","topic":"","x":350,"y":260,"wires":[["7a555f89.dcf208","52299a88.b3b1cc"]],"inputLabels":["Ligar"],"outputLabels":["Desligar"]},{"id":"317dcf93.dd83a","type":"amazon-echo-device","z":"f11b2049.a40478","name":"Segundo andar cravinhos","topic":"","x":350,"y":340,"wires":[["2ae70dd1.15a292"]],"inputLabels":["Ligar"],"outputLabels":["Desligar"]},{"id":"d1a91cc1.77d268","type":"amazon-echo-device","z":"f11b2049.a40478","name":"Térreo cravinhos","topic":"","x":330,"y":400,"wires":[["7fad7864.22bc8"]],"inputLabels":["Ligar"],"outputLabels":["Desligar"]},{"id":"7a555f89.dcf208","type":"ui_switch","z":"f11b2049.a40478","name":"","label":"1º andar Cravinhos","tooltip":"","group":"16d37cae.788943","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":730,"y":220,"wires":[[]]},{"id":"2ae70dd1.15a292","type":"ui_switch","z":"f11b2049.a40478","name":"","label":"2º andar Cravinhos","tooltip":"","group":"16d37cae.788943","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":730,"y":300,"wires":[[]]},{"id":"7fad7864.22bc8","type":"ui_switch","z":"f11b2049.a40478","name":"","label":"Térreo Cravinhos","tooltip":"","group":"16d37cae.788943","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":730,"y":400,"wires":[[]]},{"id":"df6cfe96.9ac558","type":"inject","z":"f11b2049.a40478","name":"TRIGGER","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"Teste","payload":"0","payloadType":"num","x":150,"y":520,"wires":[["f2ac4da8.8d33c8"]]},{"id":"1e3fd312.5f7c55","type":"function","z":"f11b2049.a40478","name":"","func":"var timeouttime = 10;\n// or whatever data source you want like:\nvar timeouttime = flow.get('flowvariable');\n// then simply\nmsg.timeout = timeouttime;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":580,"wires":[[]]},{"id":"f2ac4da8.8d33c8","type":"counter","z":"f11b2049.a40478","name":"","init":"0","step":"1","lower":"0","upper":"9999","mode":"increment","outputs":"1","x":400,"y":520,"wires":[[]]},{"id":"2883d8aa.fbc7a","type":"amazon-echo-hub","z":"f11b2049.a40478","port":"80","processinput":"1","discovery":true,"x":110,"y":220,"wires":[["b1e618ab.4fbed","282c5a49.fd9d2e","317dcf93.dd83a","d1a91cc1.77d268","52299a88.b3b1cc"]]},{"id":"ebb82f14.e48e88","type":"debug","z":"1bda13d0.6e7844","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":1000,"wires":[]},{"id":"ff69ecfb.c8439","type":"inject","z":"1bda13d0.6e7844","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sensor/sensor1","payload":"open","payloadType":"str","x":480,"y":180,"wires":[["8a569673.ac6dd8"]]},{"id":"8a569673.ac6dd8","type":"mqtt out","z":"1bda13d0.6e7844","name":"","topic":"TANCAGEM_MQTT","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ff728644.f6bd28","x":730,"y":180,"wires":[]},{"id":"9c5e7d8.bd0bb8","type":"mqtt in","z":"1bda13d0.6e7844","name":"teste","topic":"MQTT","qos":"2","datatype":"auto","broker":"ff728644.f6bd28","nl":false,"rap":true,"rh":0,"x":250,"y":300,"wires":[["7c5902e5.b4513c"]]},{"id":"572444ab.a35eb4","type":"mqtt in","z":"1bda13d0.6e7844","name":"teste","topic":"TANCAGEM_MQTT","qos":"2","datatype":"auto","broker":"ff728644.f6bd28","nl":false,"rap":true,"rh":0,"x":250,"y":440,"wires":[["7c5902e5.b4513c"]]},{"id":"fa0084d2.2b13d8","type":"influxdb out","z":"1bda13d0.6e7844","influxdb":"b0d514eb.927408","name":"TQ_OLEO1","measurement":"TQ_OLEO4","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"Ourofino","bucket":"ADAM","x":630,"y":460,"wires":[]},{"id":"7c5902e5.b4513c","type":"function","z":"1bda13d0.6e7844","name":"","func":"MQTT:msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":360,"wires":[["fa0084d2.2b13d8","586d1940.be1eb"]]},{"id":"27ad987d.9fef78","type":"ui_gauge","z":"1bda13d0.6e7844","name":"","group":"8bdabb84.0887e","order":1,"width":0,"height":0,"gtype":"wave","title":"VOLUME","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"","x":880,"y":360,"wires":[]},{"id":"586d1940.be1eb","type":"range","z":"1bda13d0.6e7844","minin":"4","maxin":"20","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"PESO","x":710,"y":360,"wires":[["27ad987d.9fef78","1caeb910.db8c67"]]},{"id":"ebc3493d.31a9f8","type":"ui_gauge","z":"1bda13d0.6e7844","name":"","group":"d40bd1d3.9a9228","order":1,"width":0,"height":0,"gtype":"wave","title":"VOLUME","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"","x":840,"y":520,"wires":[]},{"id":"f1933b17.b06e1","type":"ui_gauge","z":"1bda13d0.6e7844","name":"","group":"fb6686e6.e12838","order":1,"width":0,"height":0,"gtype":"wave","title":"VOLUME","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"","x":840,"y":700,"wires":[]},{"id":"59943249.8914a4","type":"ui_chart","z":"1bda13d0.6e7844","name":"","group":"fb6686e6.e12838","order":2,"width":0,"height":0,"label":"HISTÓRICO VOLUME","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":740,"wires":[[]]},{"id":"f322e52b.864f98","type":"ui_gauge","z":"1bda13d0.6e7844","name":"","group":"ee1d8935.6618c","order":1,"width":0,"height":0,"gtype":"wave","title":"VOLUME","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"","x":840,"y":800,"wires":[]},{"id":"3c360899.930778","type":"ui_chart","z":"1bda13d0.6e7844","name":"","group":"ee1d8935.6618c","order":2,"width":0,"height":0,"label":"HISTÓRICO VOLUME","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":840,"wires":[[]]},{"id":"410bd91.45f5628","type":"inject","z":"1bda13d0.6e7844","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":250,"y":540,"wires":[["e18e2e93.72b5f"]]},{"id":"e18e2e93.72b5f","type":"function","z":"1bda13d0.6e7844","name":"","func":"var valor = Math.floor(Math.random()*101);\n\nmsg.payload = valor;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":540,"wires":[["953cb34e.f5656"]]},{"id":"953cb34e.f5656","type":"range","z":"1bda13d0.6e7844","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"ui_control","name":"PESO","x":590,"y":560,"wires":[["abaddc8e.29a06","ebc3493d.31a9f8","2ea0c895.f172f"]]},{"id":"abaddc8e.29a06","type":"template","z":"1bda13d0.6e7844","name":"Alterar Cor","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"options\":{\n    \"waveColor\":\"#FFFF00\"\n    }\n}","output":"json","x":740,"y":620,"wires":[[]]},{"id":"ea872a6c.e18e38","type":"debug","z":"7bc4cb21.d957d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"8bac91d0.fbd398","type":"mqtt in","z":"7bc4cb21.d957d4","name":"teste","topic":"TEMPERATURA","qos":"2","datatype":"auto","broker":"ff728644.f6bd28","nl":false,"rap":true,"rh":0,"x":110,"y":180,"wires":[["ff8f8690.5613a"]]},{"id":"4aae24a9.06b73c","type":"mqtt in","z":"7bc4cb21.d957d4","d":true,"name":"teste","topic":"TANCAGEM_MQTT","qos":"2","datatype":"auto","broker":"ff728644.f6bd28","nl":false,"rap":true,"rh":0,"x":110,"y":320,"wires":[["ff8f8690.5613a"]]},{"id":"a52a151d.7fede","type":"influxdb out","z":"7bc4cb21.d957d4","influxdb":"","name":"TEMPERATURA2","measurement":"TEMPERATURA","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"Ourofino","bucket":"ADAM","x":830,"y":380,"wires":[]},{"id":"ff8f8690.5613a","type":"function","z":"7bc4cb21.d957d4","name":"","func":"MQTT:msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":240,"wires":[["ea872a6c.e18e38","a6c51e4a.5e61b8"]]},{"id":"cd757467.72a67","type":"ui_gauge","z":"7bc4cb21.d957d4","name":"","group":"91b41caf.86d3f8","order":1,"width":0,"height":0,"gtype":"gage","title":"TEMPERATURA","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"","x":850,"y":240,"wires":[]},{"id":"a6c51e4a.5e61b8","type":"range","z":"7bc4cb21.d957d4","minin":"4","maxin":"20","minout":"0","maxout":"60","action":"scale","round":true,"property":"payload","name":"TEMPERATURA","x":510,"y":240,"wires":[["cd757467.72a67","ef9aa98.93b86d8","f3477094.2168f"]]},{"id":"ef9aa98.93b86d8","type":"ui_chart","z":"7bc4cb21.d957d4","name":"","group":"91b41caf.86d3f8","order":2,"width":0,"height":0,"label":"HISTÓRICO","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":340,"wires":[[]]},{"id":"1caeb910.db8c67","type":"ui_chart","z":"1bda13d0.6e7844","name":"","group":"8bdabb84.0887e","order":2,"width":0,"height":0,"label":"HISTÓRICO VOLUME","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":920,"y":400,"wires":[[]]},{"id":"2ea0c895.f172f","type":"ui_chart","z":"1bda13d0.6e7844","name":"","group":"d40bd1d3.9a9228","order":2,"width":0,"height":0,"label":"HISTÓRICO VOLUME","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":560,"wires":[[]]},{"id":"cbd0cef6.751ab8","type":"inject","z":"1bda13d0.6e7844","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":250,"y":720,"wires":[["9cb1885.7ba33f8"]]},{"id":"9cb1885.7ba33f8","type":"function","z":"1bda13d0.6e7844","name":"","func":"var valor = Math.floor(Math.random()*101);\n\nmsg.payload = valor;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":720,"wires":[["bfd2c670.d1c7a8"]]},{"id":"bfd2c670.d1c7a8","type":"range","z":"1bda13d0.6e7844","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"ui_control","name":"PESO","x":590,"y":740,"wires":[["f1933b17.b06e1","59943249.8914a4","15a1e38d.4852ec"]]},{"id":"f2952c93.c60e7","type":"inject","z":"1bda13d0.6e7844","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":270,"y":840,"wires":[["5cd306a3.79db2"]]},{"id":"5cd306a3.79db2","type":"function","z":"1bda13d0.6e7844","name":"","func":"var valor = Math.floor(Math.random()*101);\n\nmsg.payload = valor;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":840,"wires":[["afe80f69.97ec58"]]},{"id":"afe80f69.97ec58","type":"range","z":"1bda13d0.6e7844","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"ui_control","name":"TEMP1","x":620,"y":860,"wires":[["f322e52b.864f98","3c360899.930778","15a1e38d.4852ec"]]},{"id":"4d5abf45.3dd398","type":"debug","z":"7bc4cb21.d957d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":420,"wires":[]},{"id":"44c1c5fb.7fb10c","type":"mqtt in","z":"7bc4cb21.d957d4","name":"UMIDADE","topic":"UMIDADE","qos":"2","datatype":"auto","broker":"ff728644.f6bd28","nl":false,"rap":true,"rh":0,"x":120,"y":480,"wires":[["2a25d51f.3924aa"]]},{"id":"d9ba1adf.32f42","type":"mqtt in","z":"7bc4cb21.d957d4","d":true,"name":"UMIDADE","topic":"TANCAGEM_MQTT","qos":"2","datatype":"auto","broker":"ff728644.f6bd28","nl":false,"rap":true,"rh":0,"x":120,"y":620,"wires":[["2a25d51f.3924aa"]]},{"id":"93271f96.800a5","type":"influxdb out","z":"7bc4cb21.d957d4","influxdb":"b0d514eb.927408","name":"UMIDADE","measurement":"UMIDADE","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"Ourofino","bucket":"ADAM","x":750,"y":660,"wires":[]},{"id":"2a25d51f.3924aa","type":"function","z":"7bc4cb21.d957d4","name":"","func":"MQTT:msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":540,"wires":[["4d5abf45.3dd398","a850607f.03e458"]]},{"id":"63be44de.27240c","type":"ui_gauge","z":"7bc4cb21.d957d4","name":"","group":"1b8a4916.671627","order":1,"width":0,"height":0,"gtype":"gage","title":"UMIDADE","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ec0b33","#f4f519","#1685e7"],"seg1":"100","seg2":"","x":830,"y":540,"wires":[]},{"id":"a850607f.03e458","type":"range","z":"7bc4cb21.d957d4","minin":"4","maxin":"20","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"UMIDADE","x":530,"y":540,"wires":[["63be44de.27240c","49d4b282.8338ec","93271f96.800a5"]]},{"id":"49d4b282.8338ec","type":"ui_chart","z":"7bc4cb21.d957d4","name":"","group":"1b8a4916.671627","order":2,"width":0,"height":0,"label":"HISTÓRICO","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":600,"wires":[[]]},{"id":"f0164aa3.c46038","type":"ui_gauge","z":"b6f06a77.64706","name":"","group":"418b3066.7fa99","order":1,"width":0,"height":0,"gtype":"wave","title":"VOLUME","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"","x":720,"y":260,"wires":[]},{"id":"30ab6284.de6786","type":"inject","z":"b6f06a77.64706","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":190,"y":260,"wires":[["f5d0a9d.5b0c458"]]},{"id":"f5d0a9d.5b0c458","type":"function","z":"b6f06a77.64706","name":"","func":"var valor = Math.floor(Math.random()*101);\n\nmsg.payload = valor;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":260,"wires":[["a1da34e0.09301"]]},{"id":"a1da34e0.09301","type":"range","z":"b6f06a77.64706","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"ui_control","name":"PESO","x":550,"y":260,"wires":[["f0164aa3.c46038","e9d7222d.d4b44"]]},{"id":"539a0f81.92261","type":"ui_form","z":"b6f06a77.64706","name":"","label":"","group":"418b3066.7fa99","order":2,"width":0,"height":0,"options":[{"label":"Peso Minimo","value":"Peso Minimo","type":"number","required":true,"rows":null}],"formValue":{"Peso Minimo":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":40,"wires":[[]]},{"id":"4176b5fe.8ee3b4","type":"ui_numeric","z":"b6f06a77.64706","name":"","label":"NivelMax","tooltip":"Nível para desligar a bomba e fechar a válvula","group":"418b3066.7fa99","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":1,"x":540,"y":420,"wires":[[]]},{"id":"72ce6b8.a9a3d94","type":"ui_numeric","z":"b6f06a77.64706","name":"","label":"Volume Mínimo","tooltip":"Nível para ligar a bomba e abrir a válvula","group":"418b3066.7fa99","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":1,"x":540,"y":520,"wires":[[]]},{"id":"15d36799.ea3348","type":"ui_switch","z":"b6f06a77.64706","name":"","label":"switch","tooltip":"","group":"6e5e90ec.49bf18","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":730,"y":420,"wires":[["666b1380.ce43e4"]]},{"id":"647edeb5.b972e","type":"ui_button","z":"b6f06a77.64706","name":"","group":"6e5e90ec.49bf18","order":0,"width":0,"height":0,"passthru":false,"label":"Habilita Controle Bomba","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":100,"wires":[[]]},{"id":"e9d7222d.d4b44","type":"switch","z":"b6f06a77.64706","name":"Check Volume","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"\"NivelMax\"","vt":"env"},{"t":"lt","v":"\"NivelMin\"","vt":"env"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":460,"wires":[["15d36799.ea3348"],["ee068b51.a5eda8"]]},{"id":"666b1380.ce43e4","type":"debug","z":"b6f06a77.64706","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":480,"wires":[]},{"id":"ee068b51.a5eda8","type":"ui_switch","z":"b6f06a77.64706","name":"","label":"switch","tooltip":"","group":"6e5e90ec.49bf18","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":730,"y":520,"wires":[["666b1380.ce43e4"]]},{"id":"22a2831a.11b01c","type":"change","z":"b6f06a77.64706","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":620,"wires":[[]]},{"id":"3d494af3.162d3e","type":"rbe","z":"b6f06a77.64706","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":100,"y":380,"wires":[[]]},{"id":"15a1e38d.4852ec","type":"join","z":"1bda13d0.6e7844","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":740,"y":1000,"wires":[["ebb82f14.e48e88"]]},{"id":"83c3d3eb.fc16d","type":"influxdb out","z":"7bc4cb21.d957d4","influxdb":"b0d514eb.927408","name":"TEMPERATURA1","measurement":"TEMPERATURA1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"ourofino","bucket":"TESTE","x":830,"y":440,"wires":[]},{"id":"3de2fb44.f471b4","type":"influxdb out","z":"7bc4cb21.d957d4","influxdb":"b0d514eb.927408","name":"TEMPERATURA","measurement":"TEMPERATURA","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"ourofino","bucket":"TESTE","x":590,"y":780,"wires":[]},{"id":"f2714cba.ef79c8","type":"inject","z":"7bc4cb21.d957d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":"10","topic":"1","payload":"1","payloadType":"num","x":150,"y":780,"wires":[["3de2fb44.f471b4"]]},{"id":"f3477094.2168f","type":"delay","z":"7bc4cb21.d957d4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":340,"wires":[["83c3d3eb.fc16d"]]},{"id":"177ae28f.b66a45","type":"inject","z":"b6f06a77.64706","name":"","repeat":"1","crontab":"","once":false,"topic":"","payload":"1","payloadType":"num","x":70,"y":160,"wires":[["d2b43b13.c01ea8"]]},{"id":"50f9790b.49c718","type":"function","z":"b6f06a77.64706","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.count;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["4f6abcf.71f1a44"]]},{"id":"4f6abcf.71f1a44","type":"ui_text","z":"b6f06a77.64706","group":"9d152790.9d9de8","order":0,"width":0,"height":0,"name":"Up-Time Node Red","label":"UpTime","format":"{{msg.payload}}","layout":"row-center","x":770,"y":180,"wires":[]},{"id":"d2b43b13.c01ea8","type":"counter","z":"b6f06a77.64706","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":320,"y":180,"wires":[["50f9790b.49c718","278e0d9b.362b92"]]},{"id":"278e0d9b.362b92","type":"debug","z":"b6f06a77.64706","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":140,"wires":[]},{"id":"5bb528c5.bd7e78","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_LIGA_GARAGEM","datatype":"Boolean","value":"","name":"LIGA GARAGEM","x":430,"y":120,"wires":[["763ced96.3f0a74"]]},{"id":"53a7eaa1.e6d424","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_DESL_GARAGEM","datatype":"Boolean","value":"","name":"DESLIGA GARAGEM","x":420,"y":160,"wires":[["763ced96.3f0a74"]]},{"id":"1eb3c1b8.e29a3e","type":"ui_gauge","z":"9a708ce2.92b0d","name":"","group":"2073504a.b8cd98","order":4,"width":5,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":60,"wires":[]},{"id":"8f57e5a2.d74398","type":"ui_chart","z":"9a708ce2.92b0d","name":"","group":"2073504a.b8cd98","order":7,"width":0,"height":0,"label":"HISTÓRICO","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":790,"y":140,"wires":[[]]},{"id":"a6b1dcaf.bbb05","type":"inject","z":"9a708ce2.92b0d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":300,"wires":[["151faeea.178201","7ff7dd2a.05ce54","e625eabe.298c98","9e81a8d1.7fb6f8","7b95db4d.62b874"]]},{"id":"151faeea.178201","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.TT_FC41_01","datatype":"Float","value":"","name":"TT-FC41","x":260,"y":100,"wires":[["f5deda8c.ec0358"]]},{"id":"f5deda8c.ec0358","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":460,"y":100,"wires":[["d5c2f868.78d1e8"]]},{"id":"e8485860.e494c8","type":"ui_switch","z":"5a6ce039.2d0368","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"8dbb8bc3.6754a8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":80,"y":140,"wires":[["a8b4b6a5.56f5d8","161f929a.dde3cd"]]},{"id":"161f929a.dde3cd","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":160,"wires":[["53a7eaa1.e6d424"]]},{"id":"a8b4b6a5.56f5d8","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":120,"wires":[["5bb528c5.bd7e78"]]},{"id":"39eba368.c5689c","type":"ui_switch","z":"5a6ce039.2d0368","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"2073504a.b8cd98","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":80,"y":260,"wires":[["7f8c4594.12145c","8faf6da2.b11e1"]]},{"id":"8faf6da2.b11e1","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":240,"wires":[["c91a1fa.5951de"]]},{"id":"7f8c4594.12145c","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":280,"wires":[["b077b187.24611"]]},{"id":"c91a1fa.5951de","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_LIGA_TERREO","datatype":"Boolean","value":"","name":"LIGA TERREO","x":420,"y":240,"wires":[["763ced96.3f0a74"]]},{"id":"b077b187.24611","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_DESL_TERREO","datatype":"Boolean","value":"","name":"DESLIGA TERREO","x":410,"y":280,"wires":[["763ced96.3f0a74"]]},{"id":"763ced96.3f0a74","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":1200,"y":740,"wires":[[]]},{"id":"57157600.8b5edc","type":"ui_switch","z":"5a6ce039.2d0368","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"293535d1.2189aa","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":80,"y":440,"wires":[["4626b266.04cefc","2396870e.73e708"]]},{"id":"2396870e.73e708","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":420,"wires":[["b358fdae.1e9b1"]]},{"id":"4626b266.04cefc","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":460,"wires":[["81a6bcea.2f6ca"]]},{"id":"b358fdae.1e9b1","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_LIGA_1_ANDAR","datatype":"Boolean","value":"","name":"LIGA 1 ANDAR","x":420,"y":420,"wires":[["763ced96.3f0a74"]]},{"id":"81a6bcea.2f6ca","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_DESL_1_ANDAR","datatype":"Boolean","value":"","name":"DESLIGA 1 ANDAR","x":420,"y":460,"wires":[["763ced96.3f0a74"]]},{"id":"e0ea5456.668518","type":"ui_switch","z":"5a6ce039.2d0368","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"850489d8.a25698","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":80,"y":620,"wires":[["5fa46890.6b4648","10069375.f74abd"]]},{"id":"10069375.f74abd","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":600,"wires":[["c08c9fbe.f23be"]]},{"id":"5fa46890.6b4648","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":640,"wires":[["27a9f3b.a1d4b0c"]]},{"id":"c08c9fbe.f23be","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_LIGA_2_ANDAR","datatype":"Boolean","value":"","name":"LIGA 2 ANDAR","x":420,"y":600,"wires":[["763ced96.3f0a74"]]},{"id":"27a9f3b.a1d4b0c","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_DESL_2_ANDAR","datatype":"Boolean","value":"","name":"DESLIGA 2 ANDAR","x":420,"y":640,"wires":[["763ced96.3f0a74"]]},{"id":"3eb0ad71.b85ef2","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"2073504a.b8cd98","order":1,"width":0,"height":0,"passthru":false,"label":"LIGAR HVAC","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":100,"y":320,"wires":[["72c83f9b.d7d77"]]},{"id":"c29130cb.f109c","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"2073504a.b8cd98","order":2,"width":0,"height":0,"passthru":false,"label":"DESLIGAR HVAC","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":90,"y":360,"wires":[["72c83f9b.d7d77"]]},{"id":"34ead28c.3a592e","type":"function","z":"9a708ce2.92b0d","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":360,"wires":[[]]},{"id":"e845463c.54a548","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC41","datatype":"Float","value":"","name":"SP TERREO ","x":930,"y":880,"wires":[["763ced96.3f0a74"]]},{"id":"3e5e497.7c112b6","type":"ui_numeric","z":"5a6ce039.2d0368","name":"","label":"FC41 (Masculino)","tooltip":"Set Point de temperatura","group":"2073504a.b8cd98","order":3,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":750,"y":880,"wires":[["e845463c.54a548"]]},{"id":"72c83f9b.d7d77","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.IHM_LIGA_FC_T","datatype":"Boolean","value":"","name":"LIGA FC TERREO","x":410,"y":340,"wires":[["763ced96.3f0a74"]]},{"id":"6d43d35f.c2129c","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"293535d1.2189aa","order":1,"width":0,"height":0,"passthru":false,"label":"LIGAR HVAC","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":100,"y":500,"wires":[["22289368.2d6e6c"]]},{"id":"dafb9efa.74489","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"293535d1.2189aa","order":2,"width":0,"height":0,"passthru":false,"label":"DESLIGAR HVAC","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":90,"y":540,"wires":[["22289368.2d6e6c"]]},{"id":"1643bf44.e10e51","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC42","datatype":"Float","value":"","name":"SP FC42","x":940,"y":1000,"wires":[["763ced96.3f0a74"]]},{"id":"d297930f.c6744","type":"ui_numeric","z":"5a6ce039.2d0368","name":"","label":"FC42/43 (Masculino)","tooltip":"Set Point de temperatura","group":"293535d1.2189aa","order":3,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":760,"y":1000,"wires":[["1643bf44.e10e51"]]},{"id":"22289368.2d6e6c","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.IHM_LIGA_FC_1","datatype":"Boolean","value":"","name":"LIGA FC 1 ANDAR","x":410,"y":520,"wires":[["763ced96.3f0a74"]]},{"id":"ec754753.5f9c48","type":"ui_numeric","z":"5a6ce039.2d0368","name":"","label":"FC44/45 (Feminino)","tooltip":"Set Point de temperatura","group":"293535d1.2189aa","order":4,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":780,"y":1120,"wires":[["3b209858.373688"]]},{"id":"3b209858.373688","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC44","datatype":"Float","value":"","name":"SP FC44","x":960,"y":1120,"wires":[["763ced96.3f0a74"]]},{"id":"2797a51f.14415a","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"850489d8.a25698","order":1,"width":0,"height":0,"passthru":false,"label":"LIGAR HVAC","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":100,"y":700,"wires":[["d335a3c0.f81b9"]]},{"id":"d3611277.ff8a2","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"850489d8.a25698","order":2,"width":0,"height":0,"passthru":false,"label":"DESLIGAR HVAC","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":90,"y":740,"wires":[["d335a3c0.f81b9"]]},{"id":"59e7fe3.cbc7","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC33","datatype":"Float","value":"","name":"SP FC33","x":960,"y":1240,"wires":[["763ced96.3f0a74"]]},{"id":"bc59266d.dff778","type":"ui_numeric","z":"5a6ce039.2d0368","name":"","label":"FC33/34 (Masculino)","tooltip":"Set Point de temperatura","group":"850489d8.a25698","order":3,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":780,"y":1240,"wires":[["59e7fe3.cbc7"]]},{"id":"d335a3c0.f81b9","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.IHM_LIGA_FC_2","datatype":"Boolean","value":"","name":"LIGA FC 2 ANDAR","x":410,"y":720,"wires":[["763ced96.3f0a74"]]},{"id":"780d74e3.69b00c","type":"ui_numeric","z":"5a6ce039.2d0368","name":"","label":"FC35/36 (Feminino)","tooltip":"Set Point de temperatura","group":"850489d8.a25698","order":4,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":780,"y":1360,"wires":[["f35b0aa2.48e918"]]},{"id":"f35b0aa2.48e918","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC35","datatype":"Float","value":"","name":"SP FC35","x":960,"y":1360,"wires":[["763ced96.3f0a74"]]},{"id":"71d22729.77c6d8","type":"ui_gauge","z":"9a708ce2.92b0d","name":"","group":"293535d1.2189aa","order":5,"width":5,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":200,"wires":[]},{"id":"a49fc690.23d128","type":"ui_chart","z":"9a708ce2.92b0d","name":"","group":"293535d1.2189aa","order":11,"width":0,"height":0,"label":"HISTÓRICO","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":790,"y":240,"wires":[[]]},{"id":"7ff7dd2a.05ce54","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.TT_FC42_01","datatype":"Float","value":"","name":"TT-FC42","x":260,"y":200,"wires":[["d5f49dcb.7db72"]]},{"id":"d5f49dcb.7db72","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":200,"wires":[["27c9051c.6c588a"]]},{"id":"27c9051c.6c588a","type":"function","z":"9a708ce2.92b0d","name":"","func":"var msg1={};\n    msg1.payload = Number(msg.payload.toFixed(1));\n    msg1.topic = \"FC42\";\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":260,"wires":[["71d22729.77c6d8","a49fc690.23d128"]]},{"id":"2d3935be.dc6fba","type":"ui_gauge","z":"9a708ce2.92b0d","name":"","group":"293535d1.2189aa","order":8,"width":5,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":300,"wires":[]},{"id":"e625eabe.298c98","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.TT_FC44_01","datatype":"Float","value":"","name":"TT-FC44","x":260,"y":300,"wires":[["111f46ef.da0599"]]},{"id":"111f46ef.da0599","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":300,"wires":[["c53c4fc7.927ac"]]},{"id":"8adea4bf.e3c178","type":"ui_gauge","z":"9a708ce2.92b0d","name":"","group":"850489d8.a25698","order":5,"width":5,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":420,"wires":[]},{"id":"f68b1d7e.491b1","type":"ui_chart","z":"9a708ce2.92b0d","name":"","group":"850489d8.a25698","order":11,"width":0,"height":0,"label":"HISTÓRICO","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":480,"wires":[[]]},{"id":"9e81a8d1.7fb6f8","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.TT_FC33_01","datatype":"Float","value":"","name":"TT-FC33","x":260,"y":420,"wires":[["8a2d4a28.c8d0f8"]]},{"id":"8a2d4a28.c8d0f8","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":420,"wires":[["304c6bcd.4ed0d4"]]},{"id":"efed4932.4885c8","type":"ui_gauge","z":"9a708ce2.92b0d","name":"","group":"850489d8.a25698","order":8,"width":5,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":520,"wires":[]},{"id":"7b95db4d.62b874","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.TT_FC35_01","datatype":"Float","value":"","name":"TT-FC35","x":240,"y":520,"wires":[["d186941e.e4ade8"]]},{"id":"d186941e.e4ade8","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":520,"wires":[["24876e69.96af02"]]},{"id":"88f8eae7.123c98","type":"amazon-echo-hub","z":"5a6ce039.2d0368","d":true,"port":"80","processinput":"2","discovery":true,"x":290,"y":40,"wires":[["ce7925bc.3d0ea8"]]},{"id":"ce7925bc.3d0ea8","type":"amazon-echo-device","z":"5a6ce039.2d0368","d":true,"name":"CORPORATIVO","topic":"","x":530,"y":60,"wires":[["a8b4b6a5.56f5d8"]]},{"id":"3635aff2.83058","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC42","datatype":"Float","value":"","name":"","x":240,"y":1000,"wires":[["ea240303.c65ec"]]},{"id":"ea240303.c65ec","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":420,"y":1000,"wires":[["fef3ae45.c5e55"]]},{"id":"fef3ae45.c5e55","type":"function","z":"5a6ce039.2d0368","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1000,"wires":[["d297930f.c6744"]]},{"id":"c8f5bbb8.7b4398","type":"inject","z":"5a6ce039.2d0368","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":1120,"wires":[["3635aff2.83058","622e49f5.bd8e98","f960300e.24398","25fcdedc.ca0df2","87a95622.3b1d68"]]},{"id":"d47ca472.169b28","type":"inject","z":"9a708ce2.92b0d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":760,"wires":[["ca918c31.be12","f485cefb.04396","a183f83c.7a1088","ac707922.a46738"]]},{"id":"ca918c31.be12","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.CTBT_01_ST","datatype":"Boolean","value":"","name":"","x":260,"y":660,"wires":[["c5d24db6.b9031","7d8eb53e.3257ec"]]},{"id":"c5d24db6.b9031","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":660,"wires":[["8e4fb102.8a9e7"]]},{"id":"8e4fb102.8a9e7","type":"change","z":"9a708ce2.92b0d","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":660,"wires":[["7b66499.4fc51b8"]]},{"id":"7b66499.4fc51b8","type":"ui_text","z":"9a708ce2.92b0d","group":"8dbb8bc3.6754a8","order":4,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":660,"wires":[]},{"id":"f485cefb.04396","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.CTBT_02_ST","datatype":"Boolean","value":"","name":"","x":260,"y":720,"wires":[["1d2b79dd.1428b6","7d8eb53e.3257ec"]]},{"id":"1d2b79dd.1428b6","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":720,"wires":[["90a764f2.82a698"]]},{"id":"90a764f2.82a698","type":"change","z":"9a708ce2.92b0d","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":720,"wires":[["2f290946.1b7c06"]]},{"id":"2f290946.1b7c06","type":"ui_text","z":"9a708ce2.92b0d","group":"2073504a.b8cd98","order":9,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":720,"wires":[]},{"id":"a183f83c.7a1088","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.CTB1_01_ST","datatype":"Boolean","value":"","name":"","x":260,"y":780,"wires":[["e57910d7.c1d49","7d8eb53e.3257ec"]]},{"id":"e57910d7.c1d49","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":780,"wires":[["a4946fc1.38b66"]]},{"id":"a4946fc1.38b66","type":"change","z":"9a708ce2.92b0d","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":780,"wires":[["99cc63b0.a8ac9"]]},{"id":"99cc63b0.a8ac9","type":"ui_text","z":"9a708ce2.92b0d","group":"293535d1.2189aa","order":13,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":780,"wires":[]},{"id":"ac707922.a46738","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.CTB2_01_ST","datatype":"Boolean","value":"","name":"","x":260,"y":840,"wires":[["a5cd8121.3d35","7d8eb53e.3257ec"]]},{"id":"a5cd8121.3d35","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":840,"wires":[["89595b02.3ff688"]]},{"id":"89595b02.3ff688","type":"change","z":"9a708ce2.92b0d","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":840,"wires":[["c2cf93dc.f3ef9"]]},{"id":"c2cf93dc.f3ef9","type":"ui_text","z":"9a708ce2.92b0d","group":"850489d8.a25698","order":13,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":840,"wires":[]},{"id":"622e49f5.bd8e98","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC41","datatype":"Float","value":"","name":"","x":240,"y":880,"wires":[["40f2a6a8.9039a8","11c875b0.a1cb0a"]]},{"id":"40f2a6a8.9039a8","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":420,"y":880,"wires":[["e1aba987.0d03a8"]]},{"id":"e1aba987.0d03a8","type":"function","z":"5a6ce039.2d0368","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":880,"wires":[["3e5e497.7c112b6"]]},{"id":"98731656.2246d8","type":"function","z":"5a6ce039.2d0368","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1120,"wires":[["ec754753.5f9c48"]]},{"id":"661d95a9.0a0f1c","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":1120,"wires":[["98731656.2246d8"]]},{"id":"f960300e.24398","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC44","datatype":"Float","value":"","name":"","x":260,"y":1120,"wires":[["661d95a9.0a0f1c"]]},{"id":"25fcdedc.ca0df2","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC33","datatype":"Float","value":"","name":"","x":260,"y":1240,"wires":[["f9c5e6df.649ba8"]]},{"id":"f9c5e6df.649ba8","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":1240,"wires":[["bf2496c6.7c5d28"]]},{"id":"bf2496c6.7c5d28","type":"function","z":"5a6ce039.2d0368","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1240,"wires":[["bc59266d.dff778"]]},{"id":"87a95622.3b1d68","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC35","datatype":"Float","value":"","name":"","x":260,"y":1360,"wires":[["314c8d3b.f87de2"]]},{"id":"314c8d3b.f87de2","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":1360,"wires":[["f7a3ce82.94f9f"]]},{"id":"f7a3ce82.94f9f","type":"function","z":"5a6ce039.2d0368","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1360,"wires":[["780d74e3.69b00c"]]},{"id":"c53c4fc7.927ac","type":"function","z":"9a708ce2.92b0d","name":"","func":"var msg2={};\n    msg2.payload = Number(msg.payload.toFixed(1));\n    msg2.topic = \"FC44\";\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":300,"wires":[["a49fc690.23d128","2d3935be.dc6fba"]]},{"id":"cf19737d.120f7","type":"ui_button","z":"9a708ce2.92b0d","name":"","group":"293535d1.2189aa","order":14,"width":0,"height":0,"passthru":false,"label":"reset chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":450,"y":360,"wires":[["4bf02536.42edbc"]]},{"id":"4bf02536.42edbc","type":"function","z":"9a708ce2.92b0d","name":"reset chart","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["a49fc690.23d128"]]},{"id":"3dd2bd61.3a8362","type":"ui_button","z":"9a708ce2.92b0d","name":"","group":"850489d8.a25698","order":14,"width":0,"height":0,"passthru":false,"label":"reset chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":470,"y":580,"wires":[["4994f755.a710c8"]]},{"id":"4994f755.a710c8","type":"function","z":"9a708ce2.92b0d","name":"reset chart","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[["f68b1d7e.491b1"]]},{"id":"304c6bcd.4ed0d4","type":"function","z":"9a708ce2.92b0d","name":"","func":"var msg1={};\n    msg1.payload = Number(msg.payload.toFixed(1));\n    msg1.topic = \"FC33\";\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":420,"wires":[["8adea4bf.e3c178","f68b1d7e.491b1"]]},{"id":"24876e69.96af02","type":"function","z":"9a708ce2.92b0d","name":"","func":"var msg2={};\n    msg2.payload = Number(msg.payload.toFixed(1));\n    msg2.topic = \"FC35\";\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":520,"wires":[["efed4932.4885c8","f68b1d7e.491b1"]]},{"id":"d0c72d83.85c94","type":"ui_button","z":"9a708ce2.92b0d","name":"","group":"2073504a.b8cd98","order":10,"width":0,"height":0,"passthru":false,"label":"reset chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":450,"y":160,"wires":[["7a420261.1e017c"]]},{"id":"7a420261.1e017c","type":"function","z":"9a708ce2.92b0d","name":"reset chart","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["8f57e5a2.d74398"]]},{"id":"9edad9aa.4fe0f8","type":"influxdb out","z":"a4c1e7f2.0d14d8","influxdb":"8908fb7c.7b6418","name":"ENERGIA","measurement":"QTA_Total_VA","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Ourofino","bucket":"ENERGIA","x":280,"y":40,"wires":[]},{"id":"45018a92.5ad474","type":"eth-ip in","z":"a4c1e7f2.0d14d8","endpoint":"87ccc900.d71f28","mode":"all","variable":"QTA.MainsLoadPerc","program":"","name":"QTA","x":70,"y":40,"wires":[["9edad9aa.4fe0f8"]]},{"id":"bf404748.c81958","type":"ui_switch","z":"b66f5fc0.b8625","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"febf1d90.5adad","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":240,"y":220,"wires":[["a1010b28.fd9b98","7eeb0cb5.7486e4"]]},{"id":"7eeb0cb5.7486e4","type":"function","z":"b66f5fc0.b8625","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["386fafcf.d31f6"]]},{"id":"a1010b28.fd9b98","type":"function","z":"b66f5fc0.b8625","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":280,"wires":[["78a383c4.2233ac"]]},{"id":"386fafcf.d31f6","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.BT_LIGA_TERREO","datatype":"Boolean","value":"","name":"LIGA TERREO","x":600,"y":240,"wires":[["d8e30d30.851f7"]]},{"id":"78a383c4.2233ac","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.BT_DESL_TERREO","datatype":"Boolean","value":"","name":"DESLIGA TERREO","x":590,"y":280,"wires":[["d8e30d30.851f7"]]},{"id":"d8e30d30.851f7","type":"OpcUa-Client","z":"b66f5fc0.b8625","endpoint":"3674ad0e.e78c8a","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":1220,"y":640,"wires":[[]]},{"id":"df20ecfe.e1434","type":"ui_switch","z":"b66f5fc0.b8625","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"20a10008.5708e","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":260,"y":440,"wires":[["9fccc47f.a717e8","7f4f0af1.9a82c4"]]},{"id":"7f4f0af1.9a82c4","type":"function","z":"b66f5fc0.b8625","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":420,"wires":[["85b4c6ca.e93b78"]]},{"id":"9fccc47f.a717e8","type":"function","z":"b66f5fc0.b8625","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["97e4b71b.a18ca8"]]},{"id":"85b4c6ca.e93b78","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.BT_LIGA_1_ANDAR","datatype":"Boolean","value":"","name":"LIGA 1 ANDAR","x":600,"y":420,"wires":[["d8e30d30.851f7"]]},{"id":"97e4b71b.a18ca8","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.BT_DESL_1_ANDAR","datatype":"Boolean","value":"","name":"DESLIGA 1 ANDAR","x":600,"y":460,"wires":[["d8e30d30.851f7"]]},{"id":"9c7311ba.104b8","type":"ui_switch","z":"b66f5fc0.b8625","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"5d23fd2c.c56544","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":260,"y":560,"wires":[["1c7c834d.893ddd","265d12db.b9a18e"]]},{"id":"265d12db.b9a18e","type":"function","z":"b66f5fc0.b8625","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":540,"wires":[["49749ee7.60b02"]]},{"id":"1c7c834d.893ddd","type":"function","z":"b66f5fc0.b8625","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":580,"wires":[["75124a5.aad60b4"]]},{"id":"49749ee7.60b02","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.BT_LIGA_2_ANDAR","datatype":"Boolean","value":"","name":"LIGA 2 ANDAR","x":600,"y":540,"wires":[["d8e30d30.851f7"]]},{"id":"75124a5.aad60b4","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.BT_DESL_2_ANDAR","datatype":"Boolean","value":"","name":"DESLIGA 2 ANDAR","x":600,"y":580,"wires":[["d8e30d30.851f7"]]},{"id":"6167762b.982248","type":"ui_button","z":"b66f5fc0.b8625","name":"","group":"febf1d90.5adad","order":1,"width":0,"height":0,"passthru":false,"label":"LIGAR HVAC","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":280,"y":320,"wires":[["6bf65dc1.cf7ad4"]]},{"id":"ea1bdff0.81fd7","type":"ui_button","z":"b66f5fc0.b8625","name":"","group":"febf1d90.5adad","order":2,"width":0,"height":0,"passthru":false,"label":"DESLIGAR HVAC","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":270,"y":360,"wires":[["6bf65dc1.cf7ad4"]]},{"id":"b2534872.acf508","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.PR_TEMP_FC46","datatype":"Float","value":"","name":"SP TERREO","x":950,"y":880,"wires":[["d8e30d30.851f7"]]},{"id":"8f53f872.e21318","type":"ui_numeric","z":"b66f5fc0.b8625","name":"","label":"FC46/47 (Masculino)","tooltip":"Set Point de temperatura","group":"febf1d90.5adad","order":3,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":760,"y":880,"wires":[["b2534872.acf508"]]},{"id":"6bf65dc1.cf7ad4","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.IHM_LIGA_FC_T","datatype":"Boolean","value":"","name":"LIGA FC TERREO","x":590,"y":340,"wires":[["d8e30d30.851f7"]]},{"id":"4edf54fb.e4c97c","type":"ui_button","z":"b66f5fc0.b8625","name":"","group":"20a10008.5708e","order":1,"width":0,"height":0,"passthru":false,"label":"LIGAR HVAC","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":280,"y":640,"wires":[["931f8dda.a9e04"]]},{"id":"f82a680e.1c0d78","type":"ui_button","z":"b66f5fc0.b8625","name":"","group":"20a10008.5708e","order":2,"width":0,"height":0,"passthru":false,"label":"DESLIGAR HVAC","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":270,"y":680,"wires":[["931f8dda.a9e04"]]},{"id":"13f0094a.f6ede7","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.PR_TEMP_FC37","datatype":"Float","value":"","name":"SP FC37","x":980,"y":1060,"wires":[["d8e30d30.851f7"]]},{"id":"6da946dc.75df48","type":"ui_numeric","z":"b66f5fc0.b8625","name":"","label":"FC37/38 (Masculino)","tooltip":"Set Point de temperatura","group":"20a10008.5708e","order":3,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":800,"y":1060,"wires":[["13f0094a.f6ede7"]]},{"id":"931f8dda.a9e04","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.IHM_LIGA_FC_2","datatype":"Boolean","value":"","name":"LIGA FC 2 ANDAR","x":590,"y":660,"wires":[["d8e30d30.851f7"]]},{"id":"36c19541.39a28a","type":"ui_numeric","z":"b66f5fc0.b8625","name":"","label":"FC39/40 (Feminino)","tooltip":"Set Point de temperatura","group":"20a10008.5708e","order":4,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":800,"y":1180,"wires":[["2d5eb23d.c55f6e"]]},{"id":"2d5eb23d.c55f6e","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.PR_TEMP_FC39","datatype":"Float","value":"","name":"SP FC39","x":980,"y":1180,"wires":[["d8e30d30.851f7"]]},{"id":"3acfd593.ea44da","type":"inject","z":"b66f5fc0.b8625","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":1120,"wires":[["38512028.88079","dcc7478.e373bb8","7c6b64ee.71a1bc"]]},{"id":"38512028.88079","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.PR_TEMP_FC46","datatype":"Float","value":"","name":"","x":240,"y":880,"wires":[["c824cb95.ac59f8"]]},{"id":"c824cb95.ac59f8","type":"OpcUa-Client","z":"b66f5fc0.b8625","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":420,"y":880,"wires":[["4731b76f.4117e8"]]},{"id":"4731b76f.4117e8","type":"function","z":"b66f5fc0.b8625","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":880,"wires":[["8f53f872.e21318"]]},{"id":"dcc7478.e373bb8","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.PR_TEMP_FC37","datatype":"Float","value":"","name":"","x":280,"y":1060,"wires":[["7cf4a527.ece27c"]]},{"id":"7cf4a527.ece27c","type":"OpcUa-Client","z":"b66f5fc0.b8625","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":460,"y":1060,"wires":[["7668c20f.29eeec"]]},{"id":"7668c20f.29eeec","type":"function","z":"b66f5fc0.b8625","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1060,"wires":[["6da946dc.75df48"]]},{"id":"7c6b64ee.71a1bc","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.PR_TEMP_FC39","datatype":"Float","value":"","name":"","x":280,"y":1180,"wires":[["afce9d4b.eaaec"]]},{"id":"afce9d4b.eaaec","type":"OpcUa-Client","z":"b66f5fc0.b8625","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":460,"y":1180,"wires":[["d18d2c04.7feb8"]]},{"id":"d18d2c04.7feb8","type":"function","z":"b66f5fc0.b8625","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1180,"wires":[["36c19541.39a28a"]]},{"id":"4123ba28.4aa614","type":"ui_gauge","z":"8b8bde60.01e51","name":"","group":"febf1d90.5adad","order":4,"width":6,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":80,"wires":[]},{"id":"3567e600.6a619a","type":"ui_chart","z":"8b8bde60.01e51","name":"","group":"febf1d90.5adad","order":5,"width":0,"height":0,"label":"HISTÓRICO","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":790,"y":140,"wires":[[]]},{"id":"2847a4b8.df3aec","type":"inject","z":"8b8bde60.01e51","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":300,"wires":[["cbea69ad.c86278","b4c031c3.41566","38d3fb98.a39fa4"]]},{"id":"cbea69ad.c86278","type":"OpcUa-Item","z":"8b8bde60.01e51","item":"ns=2;s=Micro800Eth.corpLa.TT_FC46_01","datatype":"Float","value":"","name":"TT-FC46","x":240,"y":80,"wires":[["a8ebaa96.e34118"]]},{"id":"a8ebaa96.e34118","type":"OpcUa-Client","z":"8b8bde60.01e51","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":80,"wires":[["b27c13a3.49465"]]},{"id":"b27c13a3.49465","type":"function","z":"8b8bde60.01e51","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":80,"wires":[["4123ba28.4aa614","3567e600.6a619a"]]},{"id":"c57495c0.00cf38","type":"ui_gauge","z":"8b8bde60.01e51","name":"","group":"20a10008.5708e","order":5,"width":6,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":280,"wires":[]},{"id":"90cf85cf.fda138","type":"ui_chart","z":"8b8bde60.01e51","name":"","group":"20a10008.5708e","order":7,"width":0,"height":0,"label":"HISTÓRICO","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":320,"wires":[[]]},{"id":"b4c031c3.41566","type":"OpcUa-Item","z":"8b8bde60.01e51","item":"ns=2;s=Micro800Eth.corpLa.TT_FC37_01","datatype":"Float","value":"","name":"TT-FC37","x":280,"y":280,"wires":[["6803abb4.ca4734"]]},{"id":"6803abb4.ca4734","type":"OpcUa-Client","z":"8b8bde60.01e51","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":480,"y":280,"wires":[["771dbacb.904f54"]]},{"id":"771dbacb.904f54","type":"function","z":"8b8bde60.01e51","name":"","func":"var msg1={};\n    msg1.payload = Number(msg.payload.toFixed(1));\n    msg1.topic = \"FC42\";\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":280,"wires":[["c57495c0.00cf38","90cf85cf.fda138"]]},{"id":"84200136.f81fb","type":"ui_gauge","z":"8b8bde60.01e51","name":"","group":"20a10008.5708e","order":6,"width":6,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":380,"wires":[]},{"id":"38d3fb98.a39fa4","type":"OpcUa-Item","z":"8b8bde60.01e51","item":"ns=2;s=Micro800Eth.corpLa.TT_FC39_01","datatype":"Float","value":"","name":"TT-FC39","x":280,"y":380,"wires":[["a111883c.234848"]]},{"id":"a111883c.234848","type":"OpcUa-Client","z":"8b8bde60.01e51","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":480,"y":380,"wires":[["25fb6874.5e28a8"]]},{"id":"9d3621c5.6822d","type":"inject","z":"8b8bde60.01e51","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":760,"wires":[["ff13dccb.7acbd","af6ee776.d24e38","130cdba6.f72a94"]]},{"id":"ff13dccb.7acbd","type":"OpcUa-Item","z":"8b8bde60.01e51","item":"ns=2;s=Micro800Eth.corpLa.CTAT_02_ST","datatype":"Boolean","value":"","name":"","x":260,"y":720,"wires":[["c8e34cde.ba111"]]},{"id":"c8e34cde.ba111","type":"OpcUa-Client","z":"8b8bde60.01e51","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":720,"wires":[["131fc04a.cb776"]]},{"id":"131fc04a.cb776","type":"change","z":"8b8bde60.01e51","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":720,"wires":[["731f3ba.92f3ac4"]]},{"id":"731f3ba.92f3ac4","type":"ui_text","z":"8b8bde60.01e51","group":"febf1d90.5adad","order":7,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":720,"wires":[]},{"id":"af6ee776.d24e38","type":"OpcUa-Item","z":"8b8bde60.01e51","item":"ns=2;s=Micro800Eth.corpLa.CTA1_01_ST","datatype":"Boolean","value":"","name":"","x":260,"y":780,"wires":[["f4bda2b9.d1074"]]},{"id":"f4bda2b9.d1074","type":"OpcUa-Client","z":"8b8bde60.01e51","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":780,"wires":[["771b265a.198158"]]},{"id":"771b265a.198158","type":"change","z":"8b8bde60.01e51","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":780,"wires":[["b7128669.b173f8"]]},{"id":"b7128669.b173f8","type":"ui_text","z":"8b8bde60.01e51","group":"20a10008.5708e","order":9,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":780,"wires":[]},{"id":"130cdba6.f72a94","type":"OpcUa-Item","z":"8b8bde60.01e51","item":"ns=2;s=Micro800Eth.corpLa.CTA2_01_ST","datatype":"Boolean","value":"","name":"","x":260,"y":840,"wires":[["14c6bd62.9c9e83"]]},{"id":"14c6bd62.9c9e83","type":"OpcUa-Client","z":"8b8bde60.01e51","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":840,"wires":[["38605280.1c0e5e"]]},{"id":"38605280.1c0e5e","type":"change","z":"8b8bde60.01e51","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":840,"wires":[["24592612.db657a"]]},{"id":"24592612.db657a","type":"ui_text","z":"8b8bde60.01e51","group":"5d23fd2c.c56544","order":2,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":840,"wires":[]},{"id":"25fb6874.5e28a8","type":"function","z":"8b8bde60.01e51","name":"","func":"var msg2={};\n    msg2.payload = Number(msg.payload.toFixed(1));\n    msg2.topic = \"FC44\";\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":380,"wires":[["90cf85cf.fda138","84200136.f81fb"]]},{"id":"32b5c066.fc67f","type":"ui_button","z":"8b8bde60.01e51","name":"","group":"20a10008.5708e","order":10,"width":0,"height":0,"passthru":false,"label":"reset chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":490,"y":440,"wires":[["6eb1a8f4.8f64e8"]]},{"id":"6eb1a8f4.8f64e8","type":"function","z":"8b8bde60.01e51","name":"reset chart","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":440,"wires":[["90cf85cf.fda138"]]},{"id":"62f95559.9a03ec","type":"ui_button","z":"8b8bde60.01e51","name":"","group":"febf1d90.5adad","order":8,"width":0,"height":0,"passthru":false,"label":"reset chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":450,"y":160,"wires":[["7af51301.431cac"]]},{"id":"7af51301.431cac","type":"function","z":"8b8bde60.01e51","name":"reset chart","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":160,"wires":[["3567e600.6a619a"]]},{"id":"e7b17cf2.7224a","type":"debug","z":"9a708ce2.92b0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":920,"wires":[]},{"id":"d5c2f868.78d1e8","type":"function","z":"9a708ce2.92b0d","name":"","func":"var msg1={};\n    msg1.payload = Number(msg.payload.toFixed(1));\n    msg1.topic = \"FC41\";\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":100,"wires":[["1eb3c1b8.e29a3e","8f57e5a2.d74398"]]},{"id":"7d8eb53e.3257ec","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":920,"wires":[["f375ce75.2178f"]]},{"id":"f375ce75.2178f","type":"join","z":"9a708ce2.92b0d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":920,"wires":[["e7b17cf2.7224a","c73ac97e.af1678"]]},{"id":"c73ac97e.af1678","type":"change","z":"9a708ce2.92b0d","name":"","rules":[{"t":"change","p":"payload","pt":"flow","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"flow","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1000,"wires":[["e7b17cf2.7224a"]]},{"id":"15237651.20281a","type":"debug","z":"1e773891.4f37e7","name":"","active":true,"console":"false","complete":"payload","x":670,"y":200,"wires":[]},{"id":"84df0cd4.58462","type":"inject","z":"1e773891.4f37e7","name":"Select","props":[{"p":"payload","v":"SELECT TOP (1) [Topic]       ,[Payload]   FROM [Dev].[dbo].[MQTTData]","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"SELECT TOP (1) [Topic]       ,[Payload]   FROM [Dev].[dbo].[MQTTData]","payloadType":"str","x":71.00000381469727,"y":133.99999809265137,"wires":[["eac3e9b1.b2f0e8"]]},{"id":"eac3e9b1.b2f0e8","type":"MSSQL","z":"1e773891.4f37e7","mssqlCN":"df8c0b88.91b0a8","name":"MSSQL","outField":"payload","query":"","x":439,"y":201,"wires":[["15237651.20281a"]]},{"id":"ca03c5dc.709628","type":"inject","z":"1e773891.4f37e7","name":"Insert","props":[{"p":"payload","v":"INSERT INTO [Dev].[dbo].[MQTTData] (Topic, Payload) VALUES ('Cardinal', 'Tom B. Erichsen' )","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"INSERT INTO [Dev].[dbo].[MQTTData] (Topic, Payload) VALUES ('Cardinal', 'Tom B. Erichsen' )","payloadType":"str","x":73,"y":185,"wires":[["eac3e9b1.b2f0e8"]]},{"id":"57a3215a.12b8d","type":"inject","z":"1e773891.4f37e7","name":"Update","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":70,"y":236,"wires":[["fc1afd38.1ad0f"]]},{"id":"fc1afd38.1ad0f","type":"function","z":"1e773891.4f37e7","name":"Function","func":"d = new Date,\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\ndtstmp = new Date().toString();\npld =       \"UPDATE [Dev].[dbo].[MQTTData] \"\npld = pld + \"Set Timestamp = '\" + dformat + \"' \"\npld = pld + \"WHERE id = 1\"\n\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":236,"wires":[["eac3e9b1.b2f0e8"]]},{"id":"35b4a3e.f64c05c","type":"inject","z":"1e773891.4f37e7","name":"Select","repeat":"","crontab":"","once":false,"topic":"","payload":"2","payloadType":"num","x":71,"y":292,"wires":[["1528d6ba.7db449"]]},{"id":"1528d6ba.7db449","type":"function","z":"1e773891.4f37e7","name":"Function","func":"pld =       \"SELECT ID, Topic, Payload, Timestamp \"\npld = pld + \"FROM [Dev].[dbo].[MQTTData] \"\npld = pld + \"WHERE id = \" + msg.payload\n\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":211,"y":292,"wires":[["eac3e9b1.b2f0e8"]]},{"id":"38bb7577.af1c3a","type":"mqtt in","z":"1e773891.4f37e7","name":"","topic":"SQLTest/#","qos":"0","broker":"712b53e5.990dfc","x":62,"y":342,"wires":[["7eafa2f8.041ebc"]]},{"id":"7eafa2f8.041ebc","type":"function","z":"1e773891.4f37e7","name":"Function","func":"d = new Date(),\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\npld =       \"INSERT INTO [Dev].[dbo].[MQTTData] \"\npld = pld + \"(Topic, Payload, Timestamp) \"\npld = pld + \"VALUES ('\" + msg.topic + \"', '\" + msg.payload + \"', '\" + dformat + \"')\"\n\nmsg.topic = ''\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":204,"y":342,"wires":[["eac3e9b1.b2f0e8","15237651.20281a"]]},{"id":"3ce63bff.01a254","type":"telegram sender","z":"d249d58d.cd0ce8","name":"","bot":"bca904c2.cc3b18","haserroroutput":false,"outputs":1,"x":830,"y":80,"wires":[["ea225d68.b5898"]]},{"id":"7c8f2a30.e06234","type":"inject","z":"d249d58d.cd0ce8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["60b136f9.917448"]]},{"id":"60b136f9.917448","type":"MSSQL","z":"d249d58d.cd0ce8","mssqlCN":"f7bf1df3.f377d","name":"","outField":"payload","returnType":"0","throwErrors":1,"query":"select top(10) *\nfrom Alarme\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","rows":"rows","rowsType":"msg","params":[],"x":340,"y":100,"wires":[["a58caa6f.921b88"]]},{"id":"a58caa6f.921b88","type":"function","z":"d249d58d.cd0ce8","name":"Percorre posicao SQL","func":"for (var i = 0; i < msg.payload.length; i++) { \nvar newMsg = {}; \nnewMsg.payload = msg.payload[i];\nnode.send(newMsg);\n} \nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":200,"wires":[["26745950.1f0646","da39e34b.77c6"]]},{"id":"ea225d68.b5898","type":"function","z":"d249d58d.cd0ce8","name":"Delete From SQL","func":"pld =      \"DELETE from Alarme \"\npld = pld + \"WHERE EventID =  '\" + msg.payload.EventID + \"' \"\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":80,"wires":[["2f7aa21d.dc41ee"]]},{"id":"2f7aa21d.dc41ee","type":"MSSQL","z":"d249d58d.cd0ce8","mssqlCN":"f7bf1df3.f377d","name":"MSSQL","outField":"payload","returnType":"0","throwErrors":"0","query":"","modeOpt":"","modeOptType":"query","queryOpt":"payload","queryOptType":"msg","paramsOpt":"queryParams","paramsOptType":"msg","rows":"","rowsType":"msg","params":[],"x":1260,"y":120,"wires":[[]]},{"id":"11c875b0.a1cb0a","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"teste","x":410,"y":800,"wires":[["84751e18.0d53"]]},{"id":"84751e18.0d53","type":"debug","z":"5a6ce039.2d0368","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":820,"wires":[]},{"id":"c8b8ded6.08829","type":"influxdb out","z":"a4c1e7f2.0d14d8","d":true,"influxdb":"8908fb7c.7b6418","name":"CAG","measurement":"CAG","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"Ourofino","bucket":"CAG","x":290,"y":100,"wires":[]},{"id":"cae90eb0.45c138","type":"inject","z":"fd20137a.462398","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temp","payload":"18","payloadType":"num","x":120,"y":160,"wires":[["fea560df.d3c48"]]},{"id":"2e7bc618.f670f2","type":"debug","z":"fd20137a.462398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":220,"wires":[]},{"id":"fea560df.d3c48","type":"function","z":"fd20137a.462398","name":"Trigger Alarm","func":"var payload=msg.payload;\nif (payload>20)\n return msg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["2e7bc618.f670f2"]]},{"id":"cb79af30.136148","type":"inject","z":"fd20137a.462398","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temp","payload":"20","payloadType":"num","x":120,"y":220,"wires":[["fea560df.d3c48"]]},{"id":"d714a1d8.163e7","type":"inject","z":"fd20137a.462398","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temp","payload":"22","payloadType":"num","x":120,"y":280,"wires":[["fea560df.d3c48"]]},{"id":"c82f93e8.d55d58","type":"inject","z":"fd20137a.462398","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temp","payload":"18","payloadType":"num","x":140,"y":420,"wires":[["3e386ff9.f6a898"]]},{"id":"222117f1.f96fc","type":"e-mail","z":"fd20137a.462398","server":"10.1.42.234","port":"25","secure":false,"tls":false,"name":"lucas.cunha@ourofino.com","dname":"Steve","x":770,"y":480,"wires":[]},{"id":"3e386ff9.f6a898","type":"function","z":"fd20137a.462398","name":"Trigger Alarm","func":"var payload=msg.payload;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload>20 && !alarm_flag)\n{\n alarm_flag=true;\n msg.alarm=1;\n context.set(\"alarm_flag\",alarm_flag);\n return msg;\n}\nif (payload<=20 && alarm_flag)\n{\n alarm_flag=false;\n msg.alarm=0;\n context.set(\"alarm_flag\",alarm_flag);\n return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":480,"wires":[["852b2b39.af9ee"]]},{"id":"d762b159.a960a8","type":"inject","z":"fd20137a.462398","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temp","payload":"20","payloadType":"num","x":140,"y":480,"wires":[["3e386ff9.f6a898"]]},{"id":"af2ecedc.feb628","type":"inject","z":"fd20137a.462398","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temp","payload":"22","payloadType":"num","x":140,"y":540,"wires":[["3e386ff9.f6a898"]]},{"id":"852b2b39.af9ee","type":"function","z":"fd20137a.462398","name":"envia msg","func":"var temp=msg.payload;\nmsg.to=\"lucas.cunha@ourofino.com\";\nmsg.from=\"automacao.zabbix@gmail.com\";\n\nvar d =new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n msg.topic=\"High Temperature Alarm\";\n message=\" High Temperature Alarm temp= \"; \n}\nelse\n{\n message=\" Temperature now normal temp= \"; \n msg.topic=\"Temperature Alarm Reset\";\n} \nmsg.payload=\"time:\"+d+message +msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":480,"wires":[["222117f1.f96fc"]]},{"id":"9d01078e.772098","type":"function","z":"d249d58d.cd0ce8","name":"Delete From SQL","func":"pld1 =      \"DELETE from Alarme WHERE GroupPath <> 'CAG' AND GroupPath <> 'OSMOSE_M' AND GroupPath <> 'ENERGIA' \"\nmsg.payload = pld1\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":200,"wires":[["2f7aa21d.dc41ee"]]},{"id":"26745950.1f0646","type":"function","z":"d249d58d.cd0ce8","name":"Seleciona tag do SQL","func":"var tag1 = msg.payload.Status\nvar tag2 = msg.payload.SourceName\nvar tag3 = msg.payload.Message\nvar tag4 = msg.payload.EventID\nvar tag5 = msg.payload.EventTimeStamp\nvar tag6 = msg.payload.GroupPath\nif ((tag6 == \"CAG\")  || (tag6 == \"OSMOSE_M\") || (tag6 == \"ENERGIA\") || (tag6 == \"PREDIO C\") || (tag6 == \"UTILIDADES\")) {\nmsg.payload = {\n    \"chatId\" :-712796979,\n    \"type\" :\"message\",\n    \"content\" : tag6 + \" : \" + tag3 + \" - Item: \" + tag2 + \" - Data: \" + tag5,\n    \"EventID\" :tag4,\n    \"Delete\" : \"DELETE FROM Alarme WHERE EventID =\" + tag4,\n    \"SourceName\" :tag2,\n    \"EventTimeStamp\" :tag5\n}//fecha payload\nreturn [msg,null];\n}\nmsg.payload = {\n    \"EventID\" :tag4\n}\nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":140,"wires":[["3ce63bff.01a254"],["ea225d68.b5898"]]},{"id":"f4e4d112.5e3708","type":"modbus-getter","z":"278c3ffc.fa40d8","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"4","server":"228160dd.0bd268","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":410,"y":190,"wires":[["18f09288.c552b5","b3bee6f8.64944"],["f61cd2bb.db0808"]]},{"id":"867bcf5a.728988","type":"http in","z":"278c3ffc.fa40d8","name":"","url":"/modbus/flex/read","method":"get","upload":false,"swaggerDoc":"","x":190,"y":340,"wires":[["a06133ba.054e9"]]},{"id":"18f09288.c552b5","type":"debug","z":"278c3ffc.fa40d8","name":"","active":true,"console":"false","complete":"true","x":770,"y":130,"wires":[]},{"id":"f61cd2bb.db0808","type":"modbus-response","z":"278c3ffc.fa40d8","name":"","registerShowMax":20,"x":680,"y":170,"wires":[]},{"id":"a06133ba.054e9","type":"modbus-flex-getter","z":"278c3ffc.fa40d8","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"45e2094a.f8f1b8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":430,"y":340,"wires":[["4c623588.f2d704","ad5c1f3d.c60f"],["d42d9e3.9a23ae"]]},{"id":"d42d9e3.9a23ae","type":"modbus-response","z":"278c3ffc.fa40d8","name":"","registerShowMax":20,"x":670,"y":330,"wires":[]},{"id":"4c623588.f2d704","type":"debug","z":"278c3ffc.fa40d8","name":"","active":true,"console":"false","complete":"true","x":750,"y":290,"wires":[]},{"id":"33c8f5aa.a03022","type":"catch","z":"278c3ffc.fa40d8","name":"","scope":null,"x":650,"y":80,"wires":[["df84382d.4327b8"]]},{"id":"ad380629.c0b74","type":"modbus-flex-server","z":"278c3ffc.fa40d8","name":"","logEnabled":false,"serverPort":"18502","responseDelay":100,"unitId":1,"delayUnit":"ms","coilsBufferSize":20000,"registersBufferSize":20000,"minAddress":0,"splitAddress":10000,"funcGetCoil":"function getFlexCoil(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}","funcGetInputRegister":"function getFlexInputRegister(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}","funcGetHoldingRegister":"function getFlexHoldingRegsiter(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr > node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}","funcSetCoil":"function setFlexCoil(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.coils.writeUInt8(value, addr * node.bufferFactor)  \n\t} \n}","funcSetRegister":"function setFlexRegister(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.registers.writeUInt16BE(value, addr * node.bufferFactor)  \n\t} \n}","x":200,"y":70,"wires":[[],[],[],[],[]]},{"id":"ad5c1f3d.c60f","type":"http response","z":"278c3ffc.fa40d8","name":"","statusCode":"","headers":{},"x":630,"y":290,"wires":[]},{"id":"f566f9bf.dbec68","type":"http in","z":"278c3ffc.fa40d8","name":"","url":"/modbus/read","method":"get","upload":false,"swaggerDoc":"","x":180,"y":190,"wires":[["f4e4d112.5e3708"]]},{"id":"b3bee6f8.64944","type":"http response","z":"278c3ffc.fa40d8","name":"","statusCode":"","headers":{},"x":640,"y":130,"wires":[]},{"id":"df84382d.4327b8","type":"debug","z":"278c3ffc.fa40d8","name":"","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":800,"y":80,"wires":[]},{"id":"af9361fe.87ea18","type":"modbus-flex-write","z":"278c3ffc.fa40d8","name":"","showStatusActivities":false,"showErrors":false,"server":"228160dd.0bd268","x":420,"y":530,"wires":[["3540312d.5017c6"],["b0288009.f96ae8"]]},{"id":"fdbc5e3e.e35fb8","type":"modbus-write","z":"278c3ffc.fa40d8","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"228160dd.0bd268","x":410,"y":440,"wires":[["b33411ba.b3b498"],["75fa26b3.414c"]]},{"id":"4f9b6223.e98aa4","type":"http in","z":"278c3ffc.fa40d8","name":"","url":"/modbus/write","method":"get","upload":false,"swaggerDoc":"","x":180,"y":440,"wires":[["fdbc5e3e.e35fb8"]]},{"id":"b33411ba.b3b498","type":"http response","z":"278c3ffc.fa40d8","name":"","statusCode":"","headers":{},"x":640,"y":400,"wires":[]},{"id":"75fa26b3.414c","type":"modbus-response","z":"278c3ffc.fa40d8","name":"","registerShowMax":20,"x":680,"y":440,"wires":[]},{"id":"1e4aafb.8f1855","type":"http in","z":"278c3ffc.fa40d8","name":"","url":"/modbus/flex/write","method":"get","upload":false,"swaggerDoc":"","x":190,"y":530,"wires":[["af9361fe.87ea18"]]},{"id":"3540312d.5017c6","type":"http response","z":"278c3ffc.fa40d8","name":"","statusCode":"","headers":{},"x":640,"y":490,"wires":[]},{"id":"b0288009.f96ae8","type":"modbus-response","z":"278c3ffc.fa40d8","name":"","registerShowMax":20,"x":680,"y":530,"wires":[]},{"id":"69788b37.05c614","type":"comment","z":"278c3ffc.fa40d8","name":"HTTP request GET working examples","info":"## Read\n\n### Flex Read\n\nhttp://10.113.0.120:1880/modbus/flex/read?value=0&unitid=255&fc=3&address=2700&quantity=2","x":240,"y":140,"wires":[]},{"id":"a3dd6f31.9eb17","type":"http in","z":"278c3ffc.fa40d8","name":"","url":"/modbus/flex/write/test","method":"get","upload":false,"swaggerDoc":"","x":220,"y":620,"wires":[["efac3450.e15668"]]},{"id":"d88e2d99.cd96e","type":"debug","z":"278c3ffc.fa40d8","name":"","active":true,"console":"false","complete":"true","x":590,"y":620,"wires":[]},{"id":"efac3450.e15668","type":"function","z":"278c3ffc.fa40d8","name":"","func":"if (msg.payload.value && msg.payload.value.indexOf(',') > -1) {\n    msg.payload.value = JSON.parse(msg.payload.value)\n}\n\nif (msg.value && msg.value.indexOf(',') > -1) {\n    msg.value = JSON.parse(msg.payload.value)\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":620,"wires":[["d88e2d99.cd96e","d20d5d26.f4c1a"]]},{"id":"d20d5d26.f4c1a","type":"http response","z":"278c3ffc.fa40d8","name":"","statusCode":"","headers":{},"x":590,"y":660,"wires":[]},{"id":"1a73a46f.7ebccc","type":"inject","z":"278c3ffc.fa40d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":300,"wires":[["a06133ba.054e9"]]},{"id":"d510e770.f1d728","type":"function","z":"278c3ffc.fa40d8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":400,"wires":[[]]},{"id":"99b48b77.1f7fa8","type":"eth-ip in","z":"a4c1e7f2.0d14d8","endpoint":"d22267ba.ad2048","mode":"all","variable":"FFC15_VV_CV","program":"","name":"HVAC","x":70,"y":180,"wires":[["c53d6948.beb658"]]},{"id":"c53d6948.beb658","type":"influxdb out","z":"a4c1e7f2.0d14d8","influxdb":"b0d514eb.927408","name":"HVAC","measurement":"VAQ","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"ourofino","bucket":"UTILIDADES","x":290,"y":180,"wires":[]},{"id":"2ed78f00.9c9fa2","type":"catch","z":"a4c1e7f2.0d14d8","name":"","scope":null,"x":440,"y":80,"wires":[["e416fd7d.d44d3"]]},{"id":"e416fd7d.d44d3","type":"debug","z":"a4c1e7f2.0d14d8","name":"","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"da39e34b.77c6","type":"function","z":"d249d58d.cd0ce8","name":"Seleciona tag do SQL","func":"var tag1 = msg.payload.Status\nvar tag2 = msg.payload.SourceName\nvar tag3 = msg.payload.Message\nvar tag4 = msg.payload.EventID\nvar tag5 = msg.payload.EventTimeStamp\nvar tag6 = msg.payload.GroupPath\nif ((tag6 == \"CAG\")  || (tag6 == \"OSMOSE_M\") || (tag6 == \"ENERGIA\") || (tag6 == \"PREDIO C\") || (tag6 == \"UTILIDADES\")) {\nmsg.payload = {\n    \"@context\": \"https://schema.org/extensions\",\n    \"@type\": \"MessageCard\",\n    \"themeColor\": \"0072C6\",\n    \"title\": tag2,\n    \"text\": tag6 + \" : \" + tag3 + \" - Item: \" + tag2 + \" - Data: \" + tag5,\n}//fecha payload\nreturn [msg,null];\n}\nmsg.payload = {\n    \"Delete\" : \"DELETE FROM Alarme WHERE EventID =\" + tag4,\n}\nreturn [null,msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":260,"wires":[["4dd642a0.633cec"]]},{"id":"4dd642a0.633cec","type":"http request","z":"d249d58d.cd0ce8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://ourofino.webhook.office.com/webhookb2/4795cd77-9afc-4276-a1ca-5290627a9e9f@9c1504a1-7af2-493a-944a-90df4a8e6a63/IncomingWebhook/454e3d956d0344d795806ea88a0c88d1/d109eb95-c44a-44e0-8461-72528421524b","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":240,"wires":[["9d01078e.772098"]]},{"id":"eaf03469.b249d8","type":"influxdb out","z":"a4c1e7f2.0d14d8","influxdb":"8908fb7c.7b6418","name":"CAG","measurement":"CALDEIRA","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"Ourofino","bucket":"CALDEIRA","x":290,"y":280,"wires":[]},{"id":"e06211bb.03c4","type":"eth-ip in","z":"a4c1e7f2.0d14d8","endpoint":"28e3cb4c.573134","mode":"all","variable":"","program":"","name":"CMX_CALDEIRA","x":100,"y":280,"wires":[["eaf03469.b249d8"]]},{"id":"56103275.14badc","type":"eth-ip in","z":"a4c1e7f2.0d14d8","d":true,"endpoint":"b806835d.94328","mode":"all","variable":"","program":"","name":"","x":80,"y":120,"wires":[["c8b8ded6.08829"]]},{"id":"864e1dc5.6690d","type":"modbus-read","z":"a4c1e7f2.0d14d8","d":true,"name":"GE08","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":true,"unitid":"0","dataType":"HoldingRegister","adr":"1040","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"729136f.5c5e2c8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":450,"y":220,"wires":[["e416fd7d.d44d3"],["e416fd7d.d44d3"]]},{"id":"fe147076.2765b","type":"function","z":"1e773891.4f37e7","name":"","func":"setTimeout(function(){\n    node.status({fill:\"red\", shape:\"ring\", text:\" \"});\n    msg['payload'] = 'finished';\n    node.send(msg);\n}, 1000);\nnode.status({fill:\"blue\", shape:\"ring\", text:' '});","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":320,"wires":[[]]},{"id":"81e7ff2c.f6093","type":"OpcUa-Item","z":"a4c1e7f2.0d14d8","item":"ns=2;s=Micro800Eth.CaixaDagua_Vertical.LT_G101_01","datatype":"Float","value":"","name":"LT_G101_01","x":270,"y":480,"wires":[["83a1eabb.5d7358"]]},{"id":"83a1eabb.5d7358","type":"OpcUa-Client","z":"a4c1e7f2.0d14d8","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":460,"y":480,"wires":[["d5bf4786.fe61e8"]]},{"id":"514ffea6.c2846","type":"inject","z":"a4c1e7f2.0d14d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":520,"wires":[["81e7ff2c.f6093","f9d13519.f97408","17e20287.14ac3d"]]},{"id":"56605aea.ac79f4","type":"debug","z":"a4c1e7f2.0d14d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":640,"wires":[]},{"id":"d5bf4786.fe61e8","type":"function","z":"a4c1e7f2.0d14d8","name":"","func":"msg.payload = Number(msg.payload.toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":480,"wires":[["1e74d5cf.129e4a"]]},{"id":"1e74d5cf.129e4a","type":"eth-ip out","z":"a4c1e7f2.0d14d8","endpoint":"28e3cb4c.573134","variable":"LT_G101_01_I_Sinal","program":"","name":"","x":820,"y":480,"wires":[]},{"id":"f9d13519.f97408","type":"OpcUa-Item","z":"a4c1e7f2.0d14d8","item":"ns=2;s=Micro800Eth.SubEstacao.GFC01_TT","datatype":"Float","value":"","name":"GFC01_TT","x":270,"y":560,"wires":[["90571d2d.ccfa1"]]},{"id":"90571d2d.ccfa1","type":"OpcUa-Client","z":"a4c1e7f2.0d14d8","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":460,"y":560,"wires":[["ce8cc16b.cb488"]]},{"id":"ce8cc16b.cb488","type":"function","z":"a4c1e7f2.0d14d8","name":"","func":"msg.payload = Number(msg.payload.toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":560,"wires":[["3319ccd8.662334"]]},{"id":"3319ccd8.662334","type":"eth-ip out","z":"a4c1e7f2.0d14d8","endpoint":"28e3cb4c.573134","variable":"TT_G101_01_I_Sinal","program":"","name":"","x":820,"y":560,"wires":[]},{"id":"39620889.ff3ac8","type":"influxdb out","z":"a4c1e7f2.0d14d8","influxdb":"b0d514eb.927408","name":"HVAC","measurement":"VAG","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"ourofino","bucket":"UTILIDADES","x":790,"y":800,"wires":[]},{"id":"17e20287.14ac3d","type":"OpcUa-Item","z":"a4c1e7f2.0d14d8","item":"ns=2;s=Micro800Eth.SubEstacao.GFC01_CV","datatype":"Float","value":"","name":"GFC01_CV","x":270,"y":620,"wires":[["a7cecbf.6320038"]]},{"id":"a7cecbf.6320038","type":"OpcUa-Client","z":"a4c1e7f2.0d14d8","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":460,"y":620,"wires":[["9f7aa644.2d9618"]]},{"id":"9f7aa644.2d9618","type":"function","z":"a4c1e7f2.0d14d8","name":"","func":"msg.payload = Number(msg.payload.toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":680,"wires":[["56605aea.ac79f4","618356a.2ffeba8"]]},{"id":"618356a.2ffeba8","type":"influxdb out","z":"a4c1e7f2.0d14d8","influxdb":"b0d514eb.927408","name":"HVAC","measurement":"VAG","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"ourofino","bucket":"UTILIDADES","x":790,"y":760,"wires":[]},{"id":"a5fbf397.ae4d6","type":"modbus-read","z":"a4c1e7f2.0d14d8","d":true,"name":"SEL","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"360","quantity":"10","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"96aabb35.bc3c68","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"x":470,"y":360,"wires":[["dcd8d37c.5f1a1"],["dcd8d37c.5f1a1"]]},{"id":"b4bafe7a.9a382","type":"debug","z":"a4c1e7f2.0d14d8","name":"","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":650,"y":80,"wires":[]},{"id":"dcd8d37c.5f1a1","type":"debug","z":"a4c1e7f2.0d14d8","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":750,"y":360,"wires":[]},{"id":"7b1cceebbc6b3155","type":"debug","z":"20ae8fcc.33458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":140,"wires":[]},{"id":"accdd8a5e0ae9d64","type":"inject","z":"20ae8fcc.33458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":160,"wires":[["d419c64748d8892d"]]},{"id":"70290fbbbe462b5e","type":"modbus-flex-getter","z":"20ae8fcc.33458","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"ebeab3422d31a778","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":160,"wires":[["7b1cceebbc6b3155"],[]]},{"id":"d419c64748d8892d","type":"function","z":"20ae8fcc.33458","name":"","func":"msg.payload = { value: msg.payload, 'fc': 4, 'unitid': 1, 'address': 360, 'quantity': 8 }\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":160,"wires":[["70290fbbbe462b5e"]]},{"id":"913a8940.847558","type":"debug","z":"d249d58d.cd0ce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":160,"wires":[]},{"id":"e8befcf9.0b73e","type":"debug","z":"d249d58d.cd0ce8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":200,"wires":[]},{"id":"649d98e5.a22d18","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"8dbb8bc3.6754a8","order":2,"width":0,"height":0,"passthru":false,"label":"LIGA LUZ","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":80,"y":180,"wires":[["5bb528c5.bd7e78"]]},{"id":"ba9fcffa.9dd7d","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"8dbb8bc3.6754a8","order":3,"width":0,"height":0,"passthru":false,"label":"DESLIGA LUZ","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":70,"y":220,"wires":[["53a7eaa1.e6d424"]]}]