LadoAWrite.json
[{"id":"b66f5fc0.b8625","type":"tab","label":"LADO-A - WRITE","disabled":false,"info":""},{"id":"bf404748.c81958","type":"ui_switch","z":"b66f5fc0.b8625","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"febf1d90.5adad","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":240,"y":220,"wires":[["a1010b28.fd9b98","7eeb0cb5.7486e4"]]},{"id":"7eeb0cb5.7486e4","type":"function","z":"b66f5fc0.b8625","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["386fafcf.d31f6"]]},{"id":"a1010b28.fd9b98","type":"function","z":"b66f5fc0.b8625","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":280,"wires":[["78a383c4.2233ac"]]},{"id":"386fafcf.d31f6","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.BT_LIGA_TERREO","datatype":"Boolean","value":"","name":"LIGA TERREO","x":600,"y":240,"wires":[["d8e30d30.851f7"]]},{"id":"78a383c4.2233ac","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.BT_DESL_TERREO","datatype":"Boolean","value":"","name":"DESLIGA TERREO","x":590,"y":280,"wires":[["d8e30d30.851f7"]]},{"id":"d8e30d30.851f7","type":"OpcUa-Client","z":"b66f5fc0.b8625","endpoint":"3674ad0e.e78c8a","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":1220,"y":640,"wires":[[]]},{"id":"df20ecfe.e1434","type":"ui_switch","z":"b66f5fc0.b8625","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"20a10008.5708e","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":260,"y":440,"wires":[["9fccc47f.a717e8","7f4f0af1.9a82c4"]]},{"id":"7f4f0af1.9a82c4","type":"function","z":"b66f5fc0.b8625","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":420,"wires":[["85b4c6ca.e93b78"]]},{"id":"9fccc47f.a717e8","type":"function","z":"b66f5fc0.b8625","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["97e4b71b.a18ca8"]]},{"id":"85b4c6ca.e93b78","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.BT_LIGA_1_ANDAR","datatype":"Boolean","value":"","name":"LIGA 1 ANDAR","x":600,"y":420,"wires":[["d8e30d30.851f7"]]},{"id":"97e4b71b.a18ca8","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.BT_DESL_1_ANDAR","datatype":"Boolean","value":"","name":"DESLIGA 1 ANDAR","x":600,"y":460,"wires":[["d8e30d30.851f7"]]},{"id":"9c7311ba.104b8","type":"ui_switch","z":"b66f5fc0.b8625","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"5d23fd2c.c56544","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":260,"y":560,"wires":[["1c7c834d.893ddd","265d12db.b9a18e"]]},{"id":"265d12db.b9a18e","type":"function","z":"b66f5fc0.b8625","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":540,"wires":[["49749ee7.60b02"]]},{"id":"1c7c834d.893ddd","type":"function","z":"b66f5fc0.b8625","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":580,"wires":[["75124a5.aad60b4"]]},{"id":"49749ee7.60b02","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.BT_LIGA_2_ANDAR","datatype":"Boolean","value":"","name":"LIGA 2 ANDAR","x":600,"y":540,"wires":[["d8e30d30.851f7"]]},{"id":"75124a5.aad60b4","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.BT_DESL_2_ANDAR","datatype":"Boolean","value":"","name":"DESLIGA 2 ANDAR","x":600,"y":580,"wires":[["d8e30d30.851f7"]]},{"id":"6167762b.982248","type":"ui_button","z":"b66f5fc0.b8625","name":"","group":"febf1d90.5adad","order":1,"width":0,"height":0,"passthru":false,"label":"LIGAR HVAC","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":280,"y":320,"wires":[["6bf65dc1.cf7ad4"]]},{"id":"ea1bdff0.81fd7","type":"ui_button","z":"b66f5fc0.b8625","name":"","group":"febf1d90.5adad","order":2,"width":0,"height":0,"passthru":false,"label":"DESLIGAR HVAC","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":270,"y":360,"wires":[["6bf65dc1.cf7ad4"]]},{"id":"b2534872.acf508","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.PR_TEMP_FC46","datatype":"Float","value":"","name":"SP TERREO","x":950,"y":880,"wires":[["d8e30d30.851f7"]]},{"id":"8f53f872.e21318","type":"ui_numeric","z":"b66f5fc0.b8625","name":"","label":"FC46/47 (Masculino)","tooltip":"Set Point de temperatura","group":"febf1d90.5adad","order":3,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":760,"y":880,"wires":[["b2534872.acf508"]]},{"id":"6bf65dc1.cf7ad4","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.IHM_LIGA_FC_T","datatype":"Boolean","value":"","name":"LIGA FC TERREO","x":590,"y":340,"wires":[["d8e30d30.851f7"]]},{"id":"4edf54fb.e4c97c","type":"ui_button","z":"b66f5fc0.b8625","name":"","group":"20a10008.5708e","order":1,"width":0,"height":0,"passthru":false,"label":"LIGAR HVAC","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":280,"y":640,"wires":[["931f8dda.a9e04"]]},{"id":"f82a680e.1c0d78","type":"ui_button","z":"b66f5fc0.b8625","name":"","group":"20a10008.5708e","order":2,"width":0,"height":0,"passthru":false,"label":"DESLIGAR HVAC","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":270,"y":680,"wires":[["931f8dda.a9e04"]]},{"id":"13f0094a.f6ede7","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.PR_TEMP_FC37","datatype":"Float","value":"","name":"SP FC37","x":980,"y":1060,"wires":[["d8e30d30.851f7"]]},{"id":"6da946dc.75df48","type":"ui_numeric","z":"b66f5fc0.b8625","name":"","label":"FC37/38 (Masculino)","tooltip":"Set Point de temperatura","group":"20a10008.5708e","order":3,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":800,"y":1060,"wires":[["13f0094a.f6ede7"]]},{"id":"931f8dda.a9e04","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.IHM_LIGA_FC_2","datatype":"Boolean","value":"","name":"LIGA FC 2 ANDAR","x":590,"y":660,"wires":[["d8e30d30.851f7"]]},{"id":"36c19541.39a28a","type":"ui_numeric","z":"b66f5fc0.b8625","name":"","label":"FC39/40 (Feminino)","tooltip":"Set Point de temperatura","group":"20a10008.5708e","order":4,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":800,"y":1180,"wires":[["2d5eb23d.c55f6e"]]},{"id":"2d5eb23d.c55f6e","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.PR_TEMP_FC39","datatype":"Float","value":"","name":"SP FC39","x":980,"y":1180,"wires":[["d8e30d30.851f7"]]},{"id":"3acfd593.ea44da","type":"inject","z":"b66f5fc0.b8625","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":1120,"wires":[["38512028.88079","dcc7478.e373bb8","7c6b64ee.71a1bc"]]},{"id":"38512028.88079","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.PR_TEMP_FC46","datatype":"Float","value":"","name":"","x":240,"y":880,"wires":[["c824cb95.ac59f8"]]},{"id":"c824cb95.ac59f8","type":"OpcUa-Client","z":"b66f5fc0.b8625","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":420,"y":880,"wires":[["4731b76f.4117e8"]]},{"id":"4731b76f.4117e8","type":"function","z":"b66f5fc0.b8625","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":880,"wires":[["8f53f872.e21318"]]},{"id":"dcc7478.e373bb8","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.PR_TEMP_FC37","datatype":"Float","value":"","name":"","x":280,"y":1060,"wires":[["7cf4a527.ece27c"]]},{"id":"7cf4a527.ece27c","type":"OpcUa-Client","z":"b66f5fc0.b8625","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":460,"y":1060,"wires":[["7668c20f.29eeec"]]},{"id":"7668c20f.29eeec","type":"function","z":"b66f5fc0.b8625","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1060,"wires":[["6da946dc.75df48"]]},{"id":"7c6b64ee.71a1bc","type":"OpcUa-Item","z":"b66f5fc0.b8625","item":"ns=2;s=Micro800Eth.corpLa.PR_TEMP_FC39","datatype":"Float","value":"","name":"","x":280,"y":1180,"wires":[["afce9d4b.eaaec"]]},{"id":"afce9d4b.eaaec","type":"OpcUa-Client","z":"b66f5fc0.b8625","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":460,"y":1180,"wires":[["d18d2c04.7feb8"]]},{"id":"d18d2c04.7feb8","type":"function","z":"b66f5fc0.b8625","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1180,"wires":[["36c19541.39a28a"]]},{"id":"febf1d90.5adad","type":"ui_group","name":"TÉRREO","tab":"9d3f28ab.97ad88","order":1,"disp":true,"width":"6","collapse":false},{"id":"3674ad0e.e78c8a","type":"OpcUa-Endpoint","endpoint":"opc.tcp://10.161.0.7:49320","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"20a10008.5708e","type":"ui_group","name":"1º ANDAR","tab":"9d3f28ab.97ad88","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d23fd2c.c56544","type":"ui_group","name":"2º ANDAR","tab":"9d3f28ab.97ad88","order":3,"disp":true,"width":"6","collapse":false},{"id":"9d3f28ab.97ad88","type":"ui_tab","name":"Torre A (Lado Ribeirão)","icon":"dashboard","order":4,"disabled":false,"hidden":false}]