LadoBRead.json
[{"id":"9a708ce2.92b0d","type":"tab","label":"LADO-B-READ","disabled":false,"info":""},{"id":"1eb3c1b8.e29a3e","type":"ui_gauge","z":"9a708ce2.92b0d","name":"","group":"2073504a.b8cd98","order":4,"width":5,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":60,"wires":[]},{"id":"8f57e5a2.d74398","type":"ui_chart","z":"9a708ce2.92b0d","name":"","group":"2073504a.b8cd98","order":7,"width":0,"height":0,"label":"HISTÓRICO","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":790,"y":140,"wires":[[]]},{"id":"a6b1dcaf.bbb05","type":"inject","z":"9a708ce2.92b0d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":300,"wires":[["151faeea.178201","7ff7dd2a.05ce54","e625eabe.298c98","9e81a8d1.7fb6f8","7b95db4d.62b874"]]},{"id":"151faeea.178201","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.TT_FC41_01","datatype":"Float","value":"","name":"TT-FC41","x":260,"y":100,"wires":[["f5deda8c.ec0358"]]},{"id":"f5deda8c.ec0358","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":460,"y":100,"wires":[["d5c2f868.78d1e8"]]},{"id":"34ead28c.3a592e","type":"function","z":"9a708ce2.92b0d","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":360,"wires":[[]]},{"id":"71d22729.77c6d8","type":"ui_gauge","z":"9a708ce2.92b0d","name":"","group":"293535d1.2189aa","order":5,"width":5,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":200,"wires":[]},{"id":"a49fc690.23d128","type":"ui_chart","z":"9a708ce2.92b0d","name":"","group":"293535d1.2189aa","order":11,"width":0,"height":0,"label":"HISTÓRICO","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":790,"y":240,"wires":[[]]},{"id":"7ff7dd2a.05ce54","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.TT_FC42_01","datatype":"Float","value":"","name":"TT-FC42","x":260,"y":200,"wires":[["d5f49dcb.7db72"]]},{"id":"d5f49dcb.7db72","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":200,"wires":[["27c9051c.6c588a"]]},{"id":"27c9051c.6c588a","type":"function","z":"9a708ce2.92b0d","name":"","func":"var msg1={};\n    msg1.payload = Number(msg.payload.toFixed(1));\n    msg1.topic = \"FC42\";\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":260,"wires":[["71d22729.77c6d8","a49fc690.23d128"]]},{"id":"2d3935be.dc6fba","type":"ui_gauge","z":"9a708ce2.92b0d","name":"","group":"293535d1.2189aa","order":8,"width":5,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":300,"wires":[]},{"id":"e625eabe.298c98","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.TT_FC44_01","datatype":"Float","value":"","name":"TT-FC44","x":260,"y":300,"wires":[["111f46ef.da0599"]]},{"id":"111f46ef.da0599","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":300,"wires":[["c53c4fc7.927ac"]]},{"id":"8adea4bf.e3c178","type":"ui_gauge","z":"9a708ce2.92b0d","name":"","group":"850489d8.a25698","order":5,"width":5,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":420,"wires":[]},{"id":"f68b1d7e.491b1","type":"ui_chart","z":"9a708ce2.92b0d","name":"","group":"850489d8.a25698","order":11,"width":0,"height":0,"label":"HISTÓRICO","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":480,"wires":[[]]},{"id":"9e81a8d1.7fb6f8","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.TT_FC33_01","datatype":"Float","value":"","name":"TT-FC33","x":260,"y":420,"wires":[["8a2d4a28.c8d0f8"]]},{"id":"8a2d4a28.c8d0f8","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":420,"wires":[["304c6bcd.4ed0d4"]]},{"id":"efed4932.4885c8","type":"ui_gauge","z":"9a708ce2.92b0d","name":"","group":"850489d8.a25698","order":8,"width":5,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":520,"wires":[]},{"id":"7b95db4d.62b874","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.TT_FC35_01","datatype":"Float","value":"","name":"TT-FC35","x":240,"y":520,"wires":[["d186941e.e4ade8"]]},{"id":"d186941e.e4ade8","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":520,"wires":[["24876e69.96af02"]]},{"id":"d47ca472.169b28","type":"inject","z":"9a708ce2.92b0d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":760,"wires":[["ca918c31.be12","f485cefb.04396","a183f83c.7a1088","ac707922.a46738"]]},{"id":"ca918c31.be12","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.CTBT_01_ST","datatype":"Boolean","value":"","name":"","x":260,"y":660,"wires":[["c5d24db6.b9031","7d8eb53e.3257ec"]]},{"id":"c5d24db6.b9031","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":660,"wires":[["8e4fb102.8a9e7"]]},{"id":"8e4fb102.8a9e7","type":"change","z":"9a708ce2.92b0d","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":660,"wires":[["7b66499.4fc51b8"]]},{"id":"7b66499.4fc51b8","type":"ui_text","z":"9a708ce2.92b0d","group":"8dbb8bc3.6754a8","order":4,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":660,"wires":[]},{"id":"f485cefb.04396","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.CTBT_02_ST","datatype":"Boolean","value":"","name":"","x":260,"y":720,"wires":[["1d2b79dd.1428b6","7d8eb53e.3257ec"]]},{"id":"1d2b79dd.1428b6","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":720,"wires":[["90a764f2.82a698"]]},{"id":"90a764f2.82a698","type":"change","z":"9a708ce2.92b0d","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":720,"wires":[["2f290946.1b7c06"]]},{"id":"2f290946.1b7c06","type":"ui_text","z":"9a708ce2.92b0d","group":"2073504a.b8cd98","order":9,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":720,"wires":[]},{"id":"a183f83c.7a1088","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.CTB1_01_ST","datatype":"Boolean","value":"","name":"","x":260,"y":780,"wires":[["e57910d7.c1d49","7d8eb53e.3257ec"]]},{"id":"e57910d7.c1d49","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":780,"wires":[["a4946fc1.38b66"]]},{"id":"a4946fc1.38b66","type":"change","z":"9a708ce2.92b0d","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":780,"wires":[["99cc63b0.a8ac9"]]},{"id":"99cc63b0.a8ac9","type":"ui_text","z":"9a708ce2.92b0d","group":"293535d1.2189aa","order":13,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":780,"wires":[]},{"id":"ac707922.a46738","type":"OpcUa-Item","z":"9a708ce2.92b0d","item":"ns=2;s=Micro800Eth.corpLb.CTB2_01_ST","datatype":"Boolean","value":"","name":"","x":260,"y":840,"wires":[["a5cd8121.3d35","7d8eb53e.3257ec"]]},{"id":"a5cd8121.3d35","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":840,"wires":[["89595b02.3ff688"]]},{"id":"89595b02.3ff688","type":"change","z":"9a708ce2.92b0d","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":840,"wires":[["c2cf93dc.f3ef9"]]},{"id":"c2cf93dc.f3ef9","type":"ui_text","z":"9a708ce2.92b0d","group":"850489d8.a25698","order":13,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":840,"wires":[]},{"id":"c53c4fc7.927ac","type":"function","z":"9a708ce2.92b0d","name":"","func":"var msg2={};\n    msg2.payload = Number(msg.payload.toFixed(1));\n    msg2.topic = \"FC44\";\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":300,"wires":[["a49fc690.23d128","2d3935be.dc6fba"]]},{"id":"cf19737d.120f7","type":"ui_button","z":"9a708ce2.92b0d","name":"","group":"293535d1.2189aa","order":14,"width":0,"height":0,"passthru":false,"label":"reset chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":450,"y":360,"wires":[["4bf02536.42edbc"]]},{"id":"4bf02536.42edbc","type":"function","z":"9a708ce2.92b0d","name":"reset chart","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["a49fc690.23d128"]]},{"id":"3dd2bd61.3a8362","type":"ui_button","z":"9a708ce2.92b0d","name":"","group":"850489d8.a25698","order":14,"width":0,"height":0,"passthru":false,"label":"reset chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":470,"y":580,"wires":[["4994f755.a710c8"]]},{"id":"4994f755.a710c8","type":"function","z":"9a708ce2.92b0d","name":"reset chart","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[["f68b1d7e.491b1"]]},{"id":"304c6bcd.4ed0d4","type":"function","z":"9a708ce2.92b0d","name":"","func":"var msg1={};\n    msg1.payload = Number(msg.payload.toFixed(1));\n    msg1.topic = \"FC33\";\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":420,"wires":[["8adea4bf.e3c178","f68b1d7e.491b1"]]},{"id":"24876e69.96af02","type":"function","z":"9a708ce2.92b0d","name":"","func":"var msg2={};\n    msg2.payload = Number(msg.payload.toFixed(1));\n    msg2.topic = \"FC35\";\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":520,"wires":[["efed4932.4885c8","f68b1d7e.491b1"]]},{"id":"d0c72d83.85c94","type":"ui_button","z":"9a708ce2.92b0d","name":"","group":"2073504a.b8cd98","order":10,"width":0,"height":0,"passthru":false,"label":"reset chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":450,"y":160,"wires":[["7a420261.1e017c"]]},{"id":"7a420261.1e017c","type":"function","z":"9a708ce2.92b0d","name":"reset chart","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["8f57e5a2.d74398"]]},{"id":"e7b17cf2.7224a","type":"debug","z":"9a708ce2.92b0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":920,"wires":[]},{"id":"d5c2f868.78d1e8","type":"function","z":"9a708ce2.92b0d","name":"","func":"var msg1={};\n    msg1.payload = Number(msg.payload.toFixed(1));\n    msg1.topic = \"FC41\";\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":100,"wires":[["1eb3c1b8.e29a3e","8f57e5a2.d74398"]]},{"id":"7d8eb53e.3257ec","type":"OpcUa-Client","z":"9a708ce2.92b0d","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":920,"wires":[["f375ce75.2178f"]]},{"id":"f375ce75.2178f","type":"join","z":"9a708ce2.92b0d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":920,"wires":[["e7b17cf2.7224a","c73ac97e.af1678"]]},{"id":"c73ac97e.af1678","type":"change","z":"9a708ce2.92b0d","name":"","rules":[{"t":"change","p":"payload","pt":"flow","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"flow","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1000,"wires":[["e7b17cf2.7224a"]]},{"id":"2073504a.b8cd98","type":"ui_group","name":"TÉRREO","tab":"c1fc8896.1262e8","order":3,"disp":true,"width":6,"collapse":false},{"id":"3674ad0e.e78c8a","type":"OpcUa-Endpoint","endpoint":"opc.tcp://10.161.0.7:49320","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"293535d1.2189aa","type":"ui_group","name":"1º ANDAR","tab":"c1fc8896.1262e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"850489d8.a25698","type":"ui_group","name":"2º ANDAR","tab":"c1fc8896.1262e8","order":4,"disp":true,"width":"6","collapse":false},{"id":"8dbb8bc3.6754a8","type":"ui_group","name":"GARAGEM","tab":"c1fc8896.1262e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c1fc8896.1262e8","type":"ui_tab","name":"Torre B (Lado Cravinhos)","icon":"dashboard","order":5,"disabled":false,"hidden":false,"info":"Home"}]