LadoARead.json
[{"id":"8b8bde60.01e51","type":"tab","label":"LADO-A-READ","disabled":false,"info":""},{"id":"4123ba28.4aa614","type":"ui_gauge","z":"8b8bde60.01e51","name":"","group":"febf1d90.5adad","order":4,"width":6,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":80,"wires":[]},{"id":"3567e600.6a619a","type":"ui_chart","z":"8b8bde60.01e51","name":"","group":"febf1d90.5adad","order":5,"width":0,"height":0,"label":"HISTÓRICO","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":790,"y":140,"wires":[[]]},{"id":"2847a4b8.df3aec","type":"inject","z":"8b8bde60.01e51","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":300,"wires":[["cbea69ad.c86278","b4c031c3.41566","38d3fb98.a39fa4"]]},{"id":"cbea69ad.c86278","type":"OpcUa-Item","z":"8b8bde60.01e51","item":"ns=2;s=Micro800Eth.corpLa.TT_FC46_01","datatype":"Float","value":"","name":"TT-FC46","x":240,"y":80,"wires":[["a8ebaa96.e34118"]]},{"id":"a8ebaa96.e34118","type":"OpcUa-Client","z":"8b8bde60.01e51","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":80,"wires":[["b27c13a3.49465"]]},{"id":"b27c13a3.49465","type":"function","z":"8b8bde60.01e51","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":80,"wires":[["4123ba28.4aa614","3567e600.6a619a"]]},{"id":"c57495c0.00cf38","type":"ui_gauge","z":"8b8bde60.01e51","name":"","group":"20a10008.5708e","order":5,"width":6,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":280,"wires":[]},{"id":"90cf85cf.fda138","type":"ui_chart","z":"8b8bde60.01e51","name":"","group":"20a10008.5708e","order":7,"width":0,"height":0,"label":"HISTÓRICO","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":320,"wires":[[]]},{"id":"b4c031c3.41566","type":"OpcUa-Item","z":"8b8bde60.01e51","item":"ns=2;s=Micro800Eth.corpLa.TT_FC37_01","datatype":"Float","value":"","name":"TT-FC37","x":280,"y":280,"wires":[["6803abb4.ca4734"]]},{"id":"6803abb4.ca4734","type":"OpcUa-Client","z":"8b8bde60.01e51","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":480,"y":280,"wires":[["771dbacb.904f54"]]},{"id":"771dbacb.904f54","type":"function","z":"8b8bde60.01e51","name":"","func":"var msg1={};\n    msg1.payload = Number(msg.payload.toFixed(1));\n    msg1.topic = \"FC42\";\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":280,"wires":[["c57495c0.00cf38","90cf85cf.fda138"]]},{"id":"84200136.f81fb","type":"ui_gauge","z":"8b8bde60.01e51","name":"","group":"20a10008.5708e","order":6,"width":6,"height":2,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":380,"wires":[]},{"id":"38d3fb98.a39fa4","type":"OpcUa-Item","z":"8b8bde60.01e51","item":"ns=2;s=Micro800Eth.corpLa.TT_FC39_01","datatype":"Float","value":"","name":"TT-FC39","x":280,"y":380,"wires":[["a111883c.234848"]]},{"id":"a111883c.234848","type":"OpcUa-Client","z":"8b8bde60.01e51","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":480,"y":380,"wires":[["25fb6874.5e28a8"]]},{"id":"9d3621c5.6822d","type":"inject","z":"8b8bde60.01e51","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":760,"wires":[["ff13dccb.7acbd","af6ee776.d24e38","130cdba6.f72a94"]]},{"id":"ff13dccb.7acbd","type":"OpcUa-Item","z":"8b8bde60.01e51","item":"ns=2;s=Micro800Eth.corpLa.CTAT_02_ST","datatype":"Boolean","value":"","name":"","x":260,"y":720,"wires":[["c8e34cde.ba111"]]},{"id":"c8e34cde.ba111","type":"OpcUa-Client","z":"8b8bde60.01e51","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":720,"wires":[["131fc04a.cb776"]]},{"id":"131fc04a.cb776","type":"change","z":"8b8bde60.01e51","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":720,"wires":[["731f3ba.92f3ac4"]]},{"id":"731f3ba.92f3ac4","type":"ui_text","z":"8b8bde60.01e51","group":"febf1d90.5adad","order":7,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":720,"wires":[]},{"id":"af6ee776.d24e38","type":"OpcUa-Item","z":"8b8bde60.01e51","item":"ns=2;s=Micro800Eth.corpLa.CTA1_01_ST","datatype":"Boolean","value":"","name":"","x":260,"y":780,"wires":[["f4bda2b9.d1074"]]},{"id":"f4bda2b9.d1074","type":"OpcUa-Client","z":"8b8bde60.01e51","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":780,"wires":[["771b265a.198158"]]},{"id":"771b265a.198158","type":"change","z":"8b8bde60.01e51","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":780,"wires":[["b7128669.b173f8"]]},{"id":"b7128669.b173f8","type":"ui_text","z":"8b8bde60.01e51","group":"20a10008.5708e","order":9,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":780,"wires":[]},{"id":"130cdba6.f72a94","type":"OpcUa-Item","z":"8b8bde60.01e51","item":"ns=2;s=Micro800Eth.corpLa.CTA2_01_ST","datatype":"Boolean","value":"","name":"","x":260,"y":840,"wires":[["14c6bd62.9c9e83"]]},{"id":"14c6bd62.9c9e83","type":"OpcUa-Client","z":"8b8bde60.01e51","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":840,"wires":[["38605280.1c0e5e"]]},{"id":"38605280.1c0e5e","type":"change","z":"8b8bde60.01e51","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIGADO","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":840,"wires":[["24592612.db657a"]]},{"id":"24592612.db657a","type":"ui_text","z":"8b8bde60.01e51","group":"5d23fd2c.c56544","order":2,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-center","x":780,"y":840,"wires":[]},{"id":"25fb6874.5e28a8","type":"function","z":"8b8bde60.01e51","name":"","func":"var msg2={};\n    msg2.payload = Number(msg.payload.toFixed(1));\n    msg2.topic = \"FC44\";\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":380,"wires":[["90cf85cf.fda138","84200136.f81fb"]]},{"id":"32b5c066.fc67f","type":"ui_button","z":"8b8bde60.01e51","name":"","group":"20a10008.5708e","order":10,"width":0,"height":0,"passthru":false,"label":"reset chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":490,"y":440,"wires":[["6eb1a8f4.8f64e8"]]},{"id":"6eb1a8f4.8f64e8","type":"function","z":"8b8bde60.01e51","name":"reset chart","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":440,"wires":[["90cf85cf.fda138"]]},{"id":"62f95559.9a03ec","type":"ui_button","z":"8b8bde60.01e51","name":"","group":"febf1d90.5adad","order":8,"width":0,"height":0,"passthru":false,"label":"reset chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":450,"y":160,"wires":[["7af51301.431cac"]]},{"id":"7af51301.431cac","type":"function","z":"8b8bde60.01e51","name":"reset chart","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":160,"wires":[["3567e600.6a619a"]]},{"id":"febf1d90.5adad","type":"ui_group","name":"TÉRREO","tab":"9d3f28ab.97ad88","order":1,"disp":true,"width":"6","collapse":false},{"id":"3674ad0e.e78c8a","type":"OpcUa-Endpoint","endpoint":"opc.tcp://10.161.0.7:49320","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"20a10008.5708e","type":"ui_group","name":"1º ANDAR","tab":"9d3f28ab.97ad88","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d23fd2c.c56544","type":"ui_group","name":"2º ANDAR","tab":"9d3f28ab.97ad88","order":3,"disp":true,"width":"6","collapse":false},{"id":"9d3f28ab.97ad88","type":"ui_tab","name":"Torre A (Lado Ribeirão)","icon":"dashboard","order":4,"disabled":false,"hidden":false}]