LadoBWrite.json
[{"id":"5a6ce039.2d0368","type":"tab","label":"LADO-B - WRITE","disabled":false,"info":""},{"id":"5bb528c5.bd7e78","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_LIGA_GARAGEM","datatype":"Boolean","value":"","name":"LIGA GARAGEM","x":430,"y":120,"wires":[["763ced96.3f0a74"]]},{"id":"53a7eaa1.e6d424","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_DESL_GARAGEM","datatype":"Boolean","value":"","name":"DESLIGA GARAGEM","x":420,"y":160,"wires":[["763ced96.3f0a74"]]},{"id":"e8485860.e494c8","type":"ui_switch","z":"5a6ce039.2d0368","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"8dbb8bc3.6754a8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":80,"y":140,"wires":[["a8b4b6a5.56f5d8","161f929a.dde3cd"]]},{"id":"161f929a.dde3cd","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":160,"wires":[["53a7eaa1.e6d424"]]},{"id":"a8b4b6a5.56f5d8","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":120,"wires":[["5bb528c5.bd7e78"]]},{"id":"39eba368.c5689c","type":"ui_switch","z":"5a6ce039.2d0368","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"2073504a.b8cd98","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":80,"y":260,"wires":[["7f8c4594.12145c","8faf6da2.b11e1"]]},{"id":"8faf6da2.b11e1","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":240,"wires":[["c91a1fa.5951de"]]},{"id":"7f8c4594.12145c","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":280,"wires":[["b077b187.24611"]]},{"id":"c91a1fa.5951de","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_LIGA_TERREO","datatype":"Boolean","value":"","name":"LIGA TERREO","x":420,"y":240,"wires":[["763ced96.3f0a74"]]},{"id":"b077b187.24611","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_DESL_TERREO","datatype":"Boolean","value":"","name":"DESLIGA TERREO","x":410,"y":280,"wires":[["763ced96.3f0a74"]]},{"id":"763ced96.3f0a74","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":1200,"y":740,"wires":[[]]},{"id":"57157600.8b5edc","type":"ui_switch","z":"5a6ce039.2d0368","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"293535d1.2189aa","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":80,"y":440,"wires":[["4626b266.04cefc","2396870e.73e708"]]},{"id":"2396870e.73e708","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":420,"wires":[["b358fdae.1e9b1"]]},{"id":"4626b266.04cefc","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":460,"wires":[["81a6bcea.2f6ca"]]},{"id":"b358fdae.1e9b1","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_LIGA_1_ANDAR","datatype":"Boolean","value":"","name":"LIGA 1 ANDAR","x":420,"y":420,"wires":[["763ced96.3f0a74"]]},{"id":"81a6bcea.2f6ca","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_DESL_1_ANDAR","datatype":"Boolean","value":"","name":"DESLIGA 1 ANDAR","x":420,"y":460,"wires":[["763ced96.3f0a74"]]},{"id":"e0ea5456.668518","type":"ui_switch","z":"5a6ce039.2d0368","name":"","label":"ILUMINAÇÃO","tooltip":"","group":"850489d8.a25698","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":80,"y":620,"wires":[["5fa46890.6b4648","10069375.f74abd"]]},{"id":"10069375.f74abd","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"1\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":600,"wires":[["c08c9fbe.f23be"]]},{"id":"5fa46890.6b4648","type":"function","z":"5a6ce039.2d0368","name":"","func":"var payload = msg.payload;\nif (payload == \"0\"){\n  msg.payload = true;\n}  else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":640,"wires":[["27a9f3b.a1d4b0c"]]},{"id":"c08c9fbe.f23be","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_LIGA_2_ANDAR","datatype":"Boolean","value":"","name":"LIGA 2 ANDAR","x":420,"y":600,"wires":[["763ced96.3f0a74"]]},{"id":"27a9f3b.a1d4b0c","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.BT_DESL_2_ANDAR","datatype":"Boolean","value":"","name":"DESLIGA 2 ANDAR","x":420,"y":640,"wires":[["763ced96.3f0a74"]]},{"id":"3eb0ad71.b85ef2","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"2073504a.b8cd98","order":1,"width":0,"height":0,"passthru":false,"label":"LIGAR HVAC","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":100,"y":320,"wires":[["72c83f9b.d7d77"]]},{"id":"c29130cb.f109c","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"2073504a.b8cd98","order":2,"width":0,"height":0,"passthru":false,"label":"DESLIGAR HVAC","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":90,"y":360,"wires":[["72c83f9b.d7d77"]]},{"id":"e845463c.54a548","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC41","datatype":"Float","value":"","name":"SP TERREO ","x":930,"y":880,"wires":[["763ced96.3f0a74"]]},{"id":"3e5e497.7c112b6","type":"ui_numeric","z":"5a6ce039.2d0368","name":"","label":"FC41 (Masculino)","tooltip":"Set Point de temperatura","group":"2073504a.b8cd98","order":3,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":750,"y":880,"wires":[["e845463c.54a548"]]},{"id":"72c83f9b.d7d77","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.IHM_LIGA_FC_T","datatype":"Boolean","value":"","name":"LIGA FC TERREO","x":410,"y":340,"wires":[["763ced96.3f0a74"]]},{"id":"6d43d35f.c2129c","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"293535d1.2189aa","order":1,"width":0,"height":0,"passthru":false,"label":"LIGAR HVAC","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":100,"y":500,"wires":[["22289368.2d6e6c"]]},{"id":"dafb9efa.74489","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"293535d1.2189aa","order":2,"width":0,"height":0,"passthru":false,"label":"DESLIGAR HVAC","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":90,"y":540,"wires":[["22289368.2d6e6c"]]},{"id":"1643bf44.e10e51","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC42","datatype":"Float","value":"","name":"SP FC42","x":940,"y":1000,"wires":[["763ced96.3f0a74"]]},{"id":"d297930f.c6744","type":"ui_numeric","z":"5a6ce039.2d0368","name":"","label":"FC42/43 (Masculino)","tooltip":"Set Point de temperatura","group":"293535d1.2189aa","order":3,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":760,"y":1000,"wires":[["1643bf44.e10e51"]]},{"id":"22289368.2d6e6c","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.IHM_LIGA_FC_1","datatype":"Boolean","value":"","name":"LIGA FC 1 ANDAR","x":410,"y":520,"wires":[["763ced96.3f0a74"]]},{"id":"ec754753.5f9c48","type":"ui_numeric","z":"5a6ce039.2d0368","name":"","label":"FC44/45 (Feminino)","tooltip":"Set Point de temperatura","group":"293535d1.2189aa","order":4,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":780,"y":1120,"wires":[["3b209858.373688"]]},{"id":"3b209858.373688","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC44","datatype":"Float","value":"","name":"SP FC44","x":960,"y":1120,"wires":[["763ced96.3f0a74"]]},{"id":"2797a51f.14415a","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"850489d8.a25698","order":1,"width":0,"height":0,"passthru":false,"label":"LIGAR HVAC","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":100,"y":700,"wires":[["d335a3c0.f81b9"]]},{"id":"d3611277.ff8a2","type":"ui_button","z":"5a6ce039.2d0368","name":"","group":"850489d8.a25698","order":2,"width":0,"height":0,"passthru":false,"label":"DESLIGAR HVAC","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":90,"y":740,"wires":[["d335a3c0.f81b9"]]},{"id":"59e7fe3.cbc7","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC33","datatype":"Float","value":"","name":"SP FC33","x":960,"y":1240,"wires":[["763ced96.3f0a74"]]},{"id":"bc59266d.dff778","type":"ui_numeric","z":"5a6ce039.2d0368","name":"","label":"FC33/34 (Masculino)","tooltip":"Set Point de temperatura","group":"850489d8.a25698","order":3,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":780,"y":1240,"wires":[["59e7fe3.cbc7"]]},{"id":"d335a3c0.f81b9","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.IHM_LIGA_FC_2","datatype":"Boolean","value":"","name":"LIGA FC 2 ANDAR","x":410,"y":720,"wires":[["763ced96.3f0a74"]]},{"id":"780d74e3.69b00c","type":"ui_numeric","z":"5a6ce039.2d0368","name":"","label":"FC35/36 (Feminino)","tooltip":"Set Point de temperatura","group":"850489d8.a25698","order":4,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"60","step":"0.1","x":780,"y":1360,"wires":[["f35b0aa2.48e918"]]},{"id":"f35b0aa2.48e918","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC35","datatype":"Float","value":"","name":"SP FC35","x":960,"y":1360,"wires":[["763ced96.3f0a74"]]},{"id":"88f8eae7.123c98","type":"amazon-echo-hub","z":"5a6ce039.2d0368","d":true,"port":"80","processinput":"2","discovery":true,"x":290,"y":40,"wires":[["ce7925bc.3d0ea8"]]},{"id":"ce7925bc.3d0ea8","type":"amazon-echo-device","z":"5a6ce039.2d0368","d":true,"name":"CORPORATIVO","topic":"","x":530,"y":60,"wires":[["a8b4b6a5.56f5d8"]]},{"id":"3635aff2.83058","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC42","datatype":"Float","value":"","name":"","x":240,"y":1000,"wires":[["ea240303.c65ec"]]},{"id":"ea240303.c65ec","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":420,"y":1000,"wires":[["fef3ae45.c5e55"]]},{"id":"fef3ae45.c5e55","type":"function","z":"5a6ce039.2d0368","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1000,"wires":[["d297930f.c6744"]]},{"id":"c8f5bbb8.7b4398","type":"inject","z":"5a6ce039.2d0368","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":1120,"wires":[["3635aff2.83058","622e49f5.bd8e98","f960300e.24398","25fcdedc.ca0df2","87a95622.3b1d68"]]},{"id":"622e49f5.bd8e98","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC41","datatype":"Float","value":"","name":"","x":240,"y":880,"wires":[["40f2a6a8.9039a8","11c875b0.a1cb0a"]]},{"id":"40f2a6a8.9039a8","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":420,"y":880,"wires":[["e1aba987.0d03a8"]]},{"id":"e1aba987.0d03a8","type":"function","z":"5a6ce039.2d0368","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":880,"wires":[["3e5e497.7c112b6"]]},{"id":"98731656.2246d8","type":"function","z":"5a6ce039.2d0368","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1120,"wires":[["ec754753.5f9c48"]]},{"id":"661d95a9.0a0f1c","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":1120,"wires":[["98731656.2246d8"]]},{"id":"f960300e.24398","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC44","datatype":"Float","value":"","name":"","x":260,"y":1120,"wires":[["661d95a9.0a0f1c"]]},{"id":"25fcdedc.ca0df2","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC33","datatype":"Float","value":"","name":"","x":260,"y":1240,"wires":[["f9c5e6df.649ba8"]]},{"id":"f9c5e6df.649ba8","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":1240,"wires":[["bf2496c6.7c5d28"]]},{"id":"bf2496c6.7c5d28","type":"function","z":"5a6ce039.2d0368","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1240,"wires":[["bc59266d.dff778"]]},{"id":"87a95622.3b1d68","type":"OpcUa-Item","z":"5a6ce039.2d0368","item":"ns=2;s=Micro800Eth.corpLb.PR_TEMP_FC35","datatype":"Float","value":"","name":"","x":260,"y":1360,"wires":[["314c8d3b.f87de2"]]},{"id":"314c8d3b.f87de2","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":1360,"wires":[["f7a3ce82.94f9f"]]},{"id":"f7a3ce82.94f9f","type":"function","z":"5a6ce039.2d0368","name":"","func":"msg.payload = Number(msg.payload.toFixed(1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1360,"wires":[["780d74e3.69b00c"]]},{"id":"11c875b0.a1cb0a","type":"OpcUa-Client","z":"5a6ce039.2d0368","endpoint":"3674ad0e.e78c8a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"teste","x":410,"y":800,"wires":[["84751e18.0d53"]]},{"id":"84751e18.0d53","type":"debug","z":"5a6ce039.2d0368","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":820,"wires":[]},{"id":"8dbb8bc3.6754a8","type":"ui_group","name":"GARAGEM","tab":"c1fc8896.1262e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2073504a.b8cd98","type":"ui_group","name":"TÉRREO","tab":"c1fc8896.1262e8","order":3,"disp":true,"width":6,"collapse":false},{"id":"3674ad0e.e78c8a","type":"OpcUa-Endpoint","endpoint":"opc.tcp://10.161.0.7:49320","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"293535d1.2189aa","type":"ui_group","name":"1º ANDAR","tab":"c1fc8896.1262e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"850489d8.a25698","type":"ui_group","name":"2º ANDAR","tab":"c1fc8896.1262e8","order":4,"disp":true,"width":"6","collapse":false},{"id":"c1fc8896.1262e8","type":"ui_tab","name":"Torre B (Lado Cravinhos)","icon":"dashboard","order":5,"disabled":false,"hidden":false,"info":"Home"}]