Telegram.json
[{"id":"d249d58d.cd0ce8","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"3ce63bff.01a254","type":"telegram sender","z":"d249d58d.cd0ce8","name":"","bot":"bca904c2.cc3b18","haserroroutput":false,"outputs":1,"x":830,"y":80,"wires":[["ea225d68.b5898"]]},{"id":"7c8f2a30.e06234","type":"inject","z":"d249d58d.cd0ce8","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["60b136f9.917448"]]},{"id":"60b136f9.917448","type":"MSSQL","z":"d249d58d.cd0ce8","mssqlCN":"f7bf1df3.f377d","name":"","outField":"payload","returnType":"0","throwErrors":1,"query":"select top(10) *\nfrom Alarme\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","rows":"rows","rowsType":"msg","params":[],"x":160,"y":200,"wires":[["a58caa6f.921b88"]]},{"id":"a58caa6f.921b88","type":"function","z":"d249d58d.cd0ce8","name":"Percorre posicao SQL","func":"for (var i = 0; i < msg.payload.length; i++) { \nvar newMsg = {}; \nnewMsg.payload = msg.payload[i];\nnode.send(newMsg);\n} \nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":200,"wires":[["26745950.1f0646","da39e34b.77c6"]]},{"id":"ea225d68.b5898","type":"function","z":"d249d58d.cd0ce8","name":"Delete From SQL","func":"pld =      \"DELETE from Alarme \"\npld = pld + \"WHERE EventID =  '\" + msg.payload.EventID + \"' \"\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":80,"wires":[["2f7aa21d.dc41ee"]]},{"id":"2f7aa21d.dc41ee","type":"MSSQL","z":"d249d58d.cd0ce8","mssqlCN":"f7bf1df3.f377d","name":"MSSQL","outField":"payload","returnType":"0","throwErrors":"0","query":"","modeOpt":"","modeOptType":"query","queryOpt":"payload","queryOptType":"msg","paramsOpt":"queryParams","paramsOptType":"msg","rows":"","rowsType":"msg","params":[],"x":1260,"y":120,"wires":[[]]},{"id":"9d01078e.772098","type":"function","z":"d249d58d.cd0ce8","name":"Delete From SQL","func":"pld1 =      \"DELETE from Alarme WHERE GroupPath <> 'CAG' AND GroupPath <> 'OSMOSE_M' AND GroupPath <> 'ENERGIA' \"\nmsg.payload = pld1\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":140,"wires":[["2f7aa21d.dc41ee"]]},{"id":"26745950.1f0646","type":"function","z":"d249d58d.cd0ce8","name":"Seleciona tag do SQL","func":"var tag1 = msg.payload.Status\nvar tag2 = msg.payload.SourceName\nvar tag3 = msg.payload.Message\nvar tag4 = msg.payload.EventID\nvar tag5 = msg.payload.EventTimeStamp\nvar tag6 = msg.payload.GroupPath\nif ((tag6 == \"CAG\")  || (tag6 == \"OSMOSE_M\") || (tag6 == \"ENERGIA\")) {\nmsg.payload = {\n    \"chatId\" :-712796979,\n    \"type\" :\"message\",\n    \"content\" : tag6 + \" : \" + tag3 + \" - Item: \" + tag2 + \" - Data: \" + tag5,\n    \"EventID\" :tag4,\n    \"Delete\" : \"DELETE FROM Alarme WHERE EventID =\" + tag4,\n    \"SourceName\" :tag2,\n    \"EventTimeStamp\" :tag5\n}//fecha payload\nreturn [msg,null];\n}\nmsg.payload = {\n    \"Delete\" : \"DELETE FROM Alarme WHERE EventID =\" + tag4,\n}\nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":120,"wires":[["3ce63bff.01a254"],["9d01078e.772098"]]},{"id":"da39e34b.77c6","type":"function","z":"d249d58d.cd0ce8","name":"Seleciona tag do SQL","func":"var tag1 = msg.payload.Status\nvar tag2 = msg.payload.SourceName\nvar tag3 = msg.payload.Message\nvar tag4 = msg.payload.EventID\nvar tag5 = msg.payload.EventTimeStamp\nvar tag6 = msg.payload.GroupPath\nif ((tag6 == \"CAG\")  || (tag6 == \"OSMOSE_M\") || (tag6 == \"ENERGIA\")) {\nmsg.payload = {\n    \"@context\": \"https://schema.org/extensions\",\n    \"@type\": \"MessageCard\",\n    \"themeColor\": \"0072C6\",\n    \"title\": tag2,\n    \"text\": tag6 + \" : \" + tag3 + \" - Item: \" + tag2 + \" - Data: \" + tag5,\n}//fecha payload\nreturn [msg,null];\n}\nmsg.payload = {\n    \"Delete\" : \"DELETE FROM Alarme WHERE EventID =\" + tag4,\n}\nreturn [null,msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":280,"wires":[["4dd642a0.633cec"]]},{"id":"4dd642a0.633cec","type":"http request","z":"d249d58d.cd0ce8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://ourofino.webhook.office.com/webhookb2/4795cd77-9afc-4276-a1ca-5290627a9e9f@9c1504a1-7af2-493a-944a-90df4a8e6a63/IncomingWebhook/454e3d956d0344d795806ea88a0c88d1/d109eb95-c44a-44e0-8461-72528421524b","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":280,"wires":[[]]},{"id":"bca904c2.cc3b18","type":"telegram bot","botname":"Ourofino_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"f7bf1df3.f377d","type":"MSSQL-CN","tdsVersion":"7_4","name":"SQL1","server":"10.113.0.179","port":"1433","encyption":false,"trustServerCertificate":false,"database":"LARAVEL","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true}]